.table-aliceblue, .table-aliceblue > th, .table-aliceblue > td {   background-color: #fbfdff; }
.table-hover .table-aliceblue:hover {   background-color: #e2f0ff; }
.table-hover .table-aliceblue:hover > td, .table-hover .table-aliceblue:hover > th {   background-color: #e2f0ff; }
.btn-aliceblue {   color: #111;   background-color: #f0f8ff;   border-color: #f0f8ff; }
.btn-aliceblue:hover {   color: #111;   background-color: #cae6ff;   border-color: #bde0ff; }
.btn-aliceblue:focus, .btn-aliceblue.focus {   box-shadow: 0 0 0 3px rgba(240, 248, 255, 0.5); }
.btn-aliceblue.disabled, .btn-aliceblue:disabled {   background-color: #f0f8ff;   border-color: #f0f8ff; }
.btn-aliceblue:active, .btn-aliceblue.active, .show > .btn-aliceblue.dropdown-toggle {   background-color: #cae6ff;   background-image: none;   border-color: #bde0ff; }
.btn-outline-aliceblue {   color: #f0f8ff;   background-color: transparent;   background-image: none;   border-color: #f0f8ff; }
.btn-outline-aliceblue:hover {   color: #fff;   background-color: #f0f8ff;   border-color: #f0f8ff; }
.btn-outline-aliceblue:focus, .btn-outline-aliceblue.focus {   box-shadow: 0 0 0 3px rgba(240, 248, 255, 0.5); }
.btn-outline-aliceblue.disabled, .btn-outline-aliceblue:disabled {   color: #f0f8ff;   background-color: transparent; }
.btn-outline-aliceblue:active, .btn-outline-aliceblue.active, .show > .btn-outline-aliceblue.dropdown-toggle {   color: #fff;   background-color: #f0f8ff;   border-color: #f0f8ff; }
.badge-aliceblue {   color: #111;   background-color: #f0f8ff; }
.badge-aliceblue[href]:focus, .badge-aliceblue[href]:hover {   color: #111;   text-decoration: none;   background-color: #bde0ff; }
.alert-aliceblue {   color: #7d8185;   background-color: #fcfeff;   border-color: #fbfdff; }
.alert-aliceblue hr {   border-top-color: #e2f0ff; }
.alert-aliceblue .alert-link {   color: #64686b; }
.list-group-item-aliceblue {   color: #7d8185;   background-color: #fbfdff; }
a.list-group-item-aliceblue, button.list-group-item-aliceblue {   color: #7d8185; }
a.list-group-item-aliceblue:focus, a.list-group-item-aliceblue:hover, button.list-group-item-aliceblue:focus, button.list-group-item-aliceblue:hover {   color: #7d8185;   background-color: #e2f0ff; }
a.list-group-item-aliceblue.active, button.list-group-item-aliceblue.active {   color: #fff;   background-color: #7d8185;   border-color: #7d8185; }
.bg-aliceblue {   background-color: #f0f8ff !important; }
a.bg-aliceblue:focus, a.bg-aliceblue:hover {   background-color: #bde0ff !important; }
.border-aliceblue {   border-color: #f0f8ff !important; }
.text-aliceblue {   color: #f0f8ff !important; }
a.text-aliceblue:focus, a.text-aliceblue:hover {   color: #bde0ff !important; }
