.table-blueviolet, .table-blueviolet > th, .table-blueviolet > td {   background-color: #dec4f7; }
.table-hover .table-blueviolet:hover {   background-color: #d1aef4; }
.table-hover .table-blueviolet:hover > td, .table-hover .table-blueviolet:hover > th {   background-color: #d1aef4; }
.btn-blueviolet {   color: #fff;   background-color: #8a2be2;   border-color: #8a2be2; }
.btn-blueviolet:hover {   color: #fff;   background-color: #771ccb;   border-color: #701ac0; }
.btn-blueviolet:focus, .btn-blueviolet.focus {   box-shadow: 0 0 0 0.2rem rgba(138, 43, 226, 0.5); }
.btn-blueviolet.disabled, .btn-blueviolet:disabled {   background-color: #8a2be2;   border-color: #8a2be2; }
.btn-blueviolet:not([disabled]):not(.disabled):active, .btn-blueviolet:not([disabled]):not(.disabled).active, .show > .btn-blueviolet.dropdown-toggle {   color: #fff;   background-color: #701ac0;   border-color: #6a19b5;   box-shadow: 0 0 0 0.2rem rgba(138, 43, 226, 0.5); }
.btn-outline-blueviolet {   color: #8a2be2;   background-color: transparent;   background-image: none;   border-color: #8a2be2; }
.btn-outline-blueviolet:hover {   color: #fff;   background-color: #8a2be2;   border-color: #8a2be2; }
.btn-outline-blueviolet:focus, .btn-outline-blueviolet.focus {   box-shadow: 0 0 0 0.2rem rgba(138, 43, 226, 0.5); }
.btn-outline-blueviolet.disabled, .btn-outline-blueviolet:disabled {   color: #8a2be2;   background-color: transparent; }
.btn-outline-blueviolet:not([disabled]):not(.disabled):active, .btn-outline-blueviolet:not([disabled]):not(.disabled).active, .show > .btn-outline-blueviolet.dropdown-toggle {   color: #fff;   background-color: #8a2be2;   border-color: #8a2be2;   box-shadow: 0 0 0 0.2rem rgba(138, 43, 226, 0.5); }
.badge-blueviolet {   color: #fff;   background-color: #8a2be2; }
.badge-blueviolet[href]:focus, .badge-blueviolet[href]:hover {   color: #fff;   text-decoration: none;   background-color: #701ac0; }
.alert-blueviolet {   color: #481676;   background-color: #e8d5f9;   border-color: #dec4f7; }
.alert-blueviolet hr {   border-top-color: #d1aef4; }
.alert-blueviolet .alert-link {   color: #2e0e4b; }
.list-group-item-blueviolet {   color: #481676;   background-color: #dec4f7; }
a.list-group-item-blueviolet, button.list-group-item-blueviolet {   color: #481676; }
a.list-group-item-blueviolet:focus, a.list-group-item-blueviolet:hover, button.list-group-item-blueviolet:focus, button.list-group-item-blueviolet:hover {   color: #481676;   background-color: #d1aef4; }
a.list-group-item-blueviolet.active, button.list-group-item-blueviolet.active {   color: #fff;   background-color: #481676;   border-color: #481676; }
.bg-blueviolet {   background-color: #8a2be2 !important; }
a.bg-blueviolet:focus, a.bg-blueviolet:hover {   background-color: #701ac0 !important; }
.border-blueviolet {   border-color: #8a2be2 !important; }
.text-blueviolet {   color: #8a2be2 !important; }
a.text-blueviolet:focus, a.text-blueviolet:hover {   color: #701ac0 !important; }
