.table-burlywood, .table-burlywood > th, .table-burlywood > td {   background-color: #f6ebdd; }
.table-hover .table-burlywood:hover {   background-color: #f1dfc9; }
.table-hover .table-burlywood:hover > td, .table-hover .table-burlywood:hover > th {   background-color: #f1dfc9; }
.btn-burlywood {   color: #111;   background-color: #deb887;   border-color: #deb887; }
.btn-burlywood:hover {   color: #111;   background-color: #d6a669;   border-color: #d3a05f; }
.btn-burlywood:focus, .btn-burlywood.focus {   box-shadow: 0 0 0 0.2rem rgba(222, 184, 135, 0.5); }
.btn-burlywood.disabled, .btn-burlywood:disabled {   background-color: #deb887;   border-color: #deb887; }
.btn-burlywood:not([disabled]):not(.disabled):active, .btn-burlywood:not([disabled]):not(.disabled).active, .show > .btn-burlywood.dropdown-toggle {   color: #111;   background-color: #d3a05f;   border-color: #d09a55;   box-shadow: 0 0 0 0.2rem rgba(222, 184, 135, 0.5); }
.btn-outline-burlywood {   color: #deb887;   background-color: transparent;   background-image: none;   border-color: #deb887; }
.btn-outline-burlywood:hover {   color: #fff;   background-color: #deb887;   border-color: #deb887; }
.btn-outline-burlywood:focus, .btn-outline-burlywood.focus {   box-shadow: 0 0 0 0.2rem rgba(222, 184, 135, 0.5); }
.btn-outline-burlywood.disabled, .btn-outline-burlywood:disabled {   color: #deb887;   background-color: transparent; }
.btn-outline-burlywood:not([disabled]):not(.disabled):active, .btn-outline-burlywood:not([disabled]):not(.disabled).active, .show > .btn-outline-burlywood.dropdown-toggle {   color: #fff;   background-color: #deb887;   border-color: #deb887;   box-shadow: 0 0 0 0.2rem rgba(222, 184, 135, 0.5); }
.badge-burlywood {   color: #111;   background-color: #deb887; }
.badge-burlywood[href]:focus, .badge-burlywood[href]:hover {   color: #111;   text-decoration: none;   background-color: #d3a05f; }
.alert-burlywood {   color: #736046;   background-color: #f8f1e7;   border-color: #f6ebdd; }
.alert-burlywood hr {   border-top-color: #f1dfc9; }
.alert-burlywood .alert-link {   color: #534633; }
.list-group-item-burlywood {   color: #736046;   background-color: #f6ebdd; }
a.list-group-item-burlywood, button.list-group-item-burlywood {   color: #736046; }
a.list-group-item-burlywood:focus, a.list-group-item-burlywood:hover, button.list-group-item-burlywood:focus, button.list-group-item-burlywood:hover {   color: #736046;   background-color: #f1dfc9; }
a.list-group-item-burlywood.active, button.list-group-item-burlywood.active {   color: #fff;   background-color: #736046;   border-color: #736046; }
.bg-burlywood {   background-color: #deb887 !important; }
a.bg-burlywood:focus, a.bg-burlywood:hover {   background-color: #d3a05f !important; }
.border-burlywood {   border-color: #deb887 !important; }
.text-burlywood {   color: #deb887 !important; }
a.text-burlywood:focus, a.text-burlywood:hover {   color: #d3a05f !important; }
