.table-cadetblue, .table-cadetblue > th, .table-cadetblue > td {   background-color: #d2e4e4; }
.table-hover .table-cadetblue:hover {   background-color: #c2dada; }
.table-hover .table-cadetblue:hover > td, .table-hover .table-cadetblue:hover > th {   background-color: #c2dada; }
.btn-cadetblue {   color: #fff;   background-color: #5f9ea0;   border-color: #5f9ea0; }
.btn-cadetblue:hover {   color: #fff;   background-color: #518688;   border-color: #4c7e80; }
.btn-cadetblue:focus, .btn-cadetblue.focus {   box-shadow: 0 0 0 0.2rem rgba(95, 158, 160, 0.5); }
.btn-cadetblue.disabled, .btn-cadetblue:disabled {   background-color: #5f9ea0;   border-color: #5f9ea0; }
.btn-cadetblue:not([disabled]):not(.disabled):active, .btn-cadetblue:not([disabled]):not(.disabled).active, .show > .btn-cadetblue.dropdown-toggle {   color: #fff;   background-color: #4c7e80;   border-color: #477778;   box-shadow: 0 0 0 0.2rem rgba(95, 158, 160, 0.5); }
.btn-outline-cadetblue {   color: #5f9ea0;   background-color: transparent;   background-image: none;   border-color: #5f9ea0; }
.btn-outline-cadetblue:hover {   color: #fff;   background-color: #5f9ea0;   border-color: #5f9ea0; }
.btn-outline-cadetblue:focus, .btn-outline-cadetblue.focus {   box-shadow: 0 0 0 0.2rem rgba(95, 158, 160, 0.5); }
.btn-outline-cadetblue.disabled, .btn-outline-cadetblue:disabled {   color: #5f9ea0;   background-color: transparent; }
.btn-outline-cadetblue:not([disabled]):not(.disabled):active, .btn-outline-cadetblue:not([disabled]):not(.disabled).active, .show > .btn-outline-cadetblue.dropdown-toggle {   color: #fff;   background-color: #5f9ea0;   border-color: #5f9ea0;   box-shadow: 0 0 0 0.2rem rgba(95, 158, 160, 0.5); }
.badge-cadetblue {   color: #fff;   background-color: #5f9ea0; }
.badge-cadetblue[href]:focus, .badge-cadetblue[href]:hover {   color: #fff;   text-decoration: none;   background-color: #4c7e80; }
.alert-cadetblue {   color: #315253;   background-color: #dfecec;   border-color: #d2e4e4; }
.alert-cadetblue hr {   border-top-color: #c2dada; }
.alert-cadetblue .alert-link {   color: #1e3233; }
.list-group-item-cadetblue {   color: #315253;   background-color: #d2e4e4; }
a.list-group-item-cadetblue, button.list-group-item-cadetblue {   color: #315253; }
a.list-group-item-cadetblue:focus, a.list-group-item-cadetblue:hover, button.list-group-item-cadetblue:focus, button.list-group-item-cadetblue:hover {   color: #315253;   background-color: #c2dada; }
a.list-group-item-cadetblue.active, button.list-group-item-cadetblue.active {   color: #fff;   background-color: #315253;   border-color: #315253; }
.bg-cadetblue {   background-color: #5f9ea0 !important; }
a.bg-cadetblue:focus, a.bg-cadetblue:hover {   background-color: #4c7e80 !important; }
.border-cadetblue {   border-color: #5f9ea0 !important; }
.text-cadetblue {   color: #5f9ea0 !important; }
a.text-cadetblue:focus, a.text-cadetblue:hover {   color: #4c7e80 !important; }
