.table-darkseagreen, .table-darkseagreen > th, .table-darkseagreen > td {   background-color: #e0ece0; }
.table-hover .table-darkseagreen:hover {   background-color: #d0e2d0; }
.table-hover .table-darkseagreen:hover > td, .table-hover .table-darkseagreen:hover > th {   background-color: #d0e2d0; }
.btn-darkseagreen {   color: #111;   background-color: #8fbc8f;   border-color: #8fbc8f; }
.btn-darkseagreen:hover {   color: #111;   background-color: #77ae77;   border-color: #6fa96f; }
.btn-darkseagreen:focus, .btn-darkseagreen.focus {   box-shadow: 0 0 0 3px rgba(143, 188, 143, 0.5); }
.btn-darkseagreen.disabled, .btn-darkseagreen:disabled {   background-color: #8fbc8f;   border-color: #8fbc8f; }
.btn-darkseagreen:active, .btn-darkseagreen.active, .show > .btn-darkseagreen.dropdown-toggle {   background-color: #77ae77;   background-image: none;   border-color: #6fa96f; }
.btn-outline-darkseagreen {   color: #8fbc8f;   background-color: transparent;   background-image: none;   border-color: #8fbc8f; }
.btn-outline-darkseagreen:hover {   color: #fff;   background-color: #8fbc8f;   border-color: #8fbc8f; }
.btn-outline-darkseagreen:focus, .btn-outline-darkseagreen.focus {   box-shadow: 0 0 0 3px rgba(143, 188, 143, 0.5); }
.btn-outline-darkseagreen.disabled, .btn-outline-darkseagreen:disabled {   color: #8fbc8f;   background-color: transparent; }
.btn-outline-darkseagreen:active, .btn-outline-darkseagreen.active, .show > .btn-outline-darkseagreen.dropdown-toggle {   color: #fff;   background-color: #8fbc8f;   border-color: #8fbc8f; }
.badge-darkseagreen {   color: #111;   background-color: #8fbc8f; }
.badge-darkseagreen[href]:focus, .badge-darkseagreen[href]:hover {   color: #111;   text-decoration: none;   background-color: #6fa96f; }
.alert-darkseagreen {   color: #4a624a;   background-color: #e9f2e9;   border-color: #e0ece0; }
.alert-darkseagreen hr {   border-top-color: #d0e2d0; }
.alert-darkseagreen .alert-link {   color: #344534; }
.list-group-item-darkseagreen {   color: #4a624a;   background-color: #e0ece0; }
a.list-group-item-darkseagreen, button.list-group-item-darkseagreen {   color: #4a624a; }
a.list-group-item-darkseagreen:focus, a.list-group-item-darkseagreen:hover, button.list-group-item-darkseagreen:focus, button.list-group-item-darkseagreen:hover {   color: #4a624a;   background-color: #d0e2d0; }
a.list-group-item-darkseagreen.active, button.list-group-item-darkseagreen.active {   color: #fff;   background-color: #4a624a;   border-color: #4a624a; }
.bg-darkseagreen {   background-color: #8fbc8f !important; }
a.bg-darkseagreen:focus, a.bg-darkseagreen:hover {   background-color: #6fa96f !important; }
.border-darkseagreen {   border-color: #8fbc8f !important; }
.text-darkseagreen {   color: #8fbc8f !important; }
a.text-darkseagreen:focus, a.text-darkseagreen:hover {   color: #6fa96f !important; }
