.table-darkturquoise, .table-darkturquoise > th, .table-darkturquoise > td {   background-color: #b8f1f2; }
.table-hover .table-darkturquoise:hover {   background-color: #a2edee; }
.table-hover .table-darkturquoise:hover > td, .table-hover .table-darkturquoise:hover > th {   background-color: #a2edee; }
.btn-darkturquoise {   color: #fff;   background-color: #00ced1;   border-color: #00ced1; }
.btn-darkturquoise:hover {   color: #fff;   background-color: #00a8ab;   border-color: #009c9e; }
.btn-darkturquoise:focus, .btn-darkturquoise.focus {   box-shadow: 0 0 0 3px rgba(0, 206, 209, 0.5); }
.btn-darkturquoise.disabled, .btn-darkturquoise:disabled {   background-color: #00ced1;   border-color: #00ced1; }
.btn-darkturquoise:active, .btn-darkturquoise.active, .show > .btn-darkturquoise.dropdown-toggle {   background-color: #00a8ab;   background-image: none;   border-color: #009c9e; }
.btn-outline-darkturquoise {   color: #00ced1;   background-color: transparent;   background-image: none;   border-color: #00ced1; }
.btn-outline-darkturquoise:hover {   color: #fff;   background-color: #00ced1;   border-color: #00ced1; }
.btn-outline-darkturquoise:focus, .btn-outline-darkturquoise.focus {   box-shadow: 0 0 0 3px rgba(0, 206, 209, 0.5); }
.btn-outline-darkturquoise.disabled, .btn-outline-darkturquoise:disabled {   color: #00ced1;   background-color: transparent; }
.btn-outline-darkturquoise:active, .btn-outline-darkturquoise.active, .show > .btn-outline-darkturquoise.dropdown-toggle {   color: #fff;   background-color: #00ced1;   border-color: #00ced1; }
.badge-darkturquoise {   color: #fff;   background-color: #00ced1; }
.badge-darkturquoise[href]:focus, .badge-darkturquoise[href]:hover {   color: #fff;   text-decoration: none;   background-color: #009c9e; }
.alert-darkturquoise {   color: #006b6d;   background-color: #ccf5f6;   border-color: #b8f1f2; }
.alert-darkturquoise hr {   border-top-color: #a2edee; }
.alert-darkturquoise .alert-link {   color: #00393a; }
.list-group-item-darkturquoise {   color: #006b6d;   background-color: #b8f1f2; }
a.list-group-item-darkturquoise, button.list-group-item-darkturquoise {   color: #006b6d; }
a.list-group-item-darkturquoise:focus, a.list-group-item-darkturquoise:hover, button.list-group-item-darkturquoise:focus, button.list-group-item-darkturquoise:hover {   color: #006b6d;   background-color: #a2edee; }
a.list-group-item-darkturquoise.active, button.list-group-item-darkturquoise.active {   color: #fff;   background-color: #006b6d;   border-color: #006b6d; }
.bg-darkturquoise {   background-color: #00ced1 !important; }
a.bg-darkturquoise:focus, a.bg-darkturquoise:hover {   background-color: #009c9e !important; }
.border-darkturquoise {   border-color: #00ced1 !important; }
.text-darkturquoise {   color: #00ced1 !important; }
a.text-darkturquoise:focus, a.text-darkturquoise:hover {   color: #009c9e !important; }
