.table-darkorchid, .table-darkorchid > th, .table-darkorchid > td {   background-color: #e2c6f1; }
.table-hover .table-darkorchid:hover {   background-color: #d8b2ec; }
.table-hover .table-darkorchid:hover > td, .table-hover .table-darkorchid:hover > th {   background-color: #d8b2ec; }
.btn-darkorchid {   color: #fff;   background-color: #9932cc;   border-color: #9932cc; }
.btn-darkorchid:hover {   color: #fff;   background-color: #822aad;   border-color: #7a28a3; }
.btn-darkorchid:focus, .btn-darkorchid.focus {   box-shadow: 0 0 0 3px rgba(153, 50, 204, 0.5); }
.btn-darkorchid.disabled, .btn-darkorchid:disabled {   background-color: #9932cc;   border-color: #9932cc; }
.btn-darkorchid:active, .btn-darkorchid.active, .show > .btn-darkorchid.dropdown-toggle {   background-color: #822aad;   background-image: none;   border-color: #7a28a3; }
.btn-outline-darkorchid {   color: #9932cc;   background-color: transparent;   background-image: none;   border-color: #9932cc; }
.btn-outline-darkorchid:hover {   color: #fff;   background-color: #9932cc;   border-color: #9932cc; }
.btn-outline-darkorchid:focus, .btn-outline-darkorchid.focus {   box-shadow: 0 0 0 3px rgba(153, 50, 204, 0.5); }
.btn-outline-darkorchid.disabled, .btn-outline-darkorchid:disabled {   color: #9932cc;   background-color: transparent; }
.btn-outline-darkorchid:active, .btn-outline-darkorchid.active, .show > .btn-outline-darkorchid.dropdown-toggle {   color: #fff;   background-color: #9932cc;   border-color: #9932cc; }
.badge-darkorchid {   color: #fff;   background-color: #9932cc; }
.badge-darkorchid[href]:focus, .badge-darkorchid[href]:hover {   color: #fff;   text-decoration: none;   background-color: #7a28a3; }
.alert-darkorchid {   color: #501a6a;   background-color: #ebd6f5;   border-color: #e2c6f1; }
.alert-darkorchid hr {   border-top-color: #d8b2ec; }
.alert-darkorchid .alert-link {   color: #311041; }
.list-group-item-darkorchid {   color: #501a6a;   background-color: #e2c6f1; }
a.list-group-item-darkorchid, button.list-group-item-darkorchid {   color: #501a6a; }
a.list-group-item-darkorchid:focus, a.list-group-item-darkorchid:hover, button.list-group-item-darkorchid:focus, button.list-group-item-darkorchid:hover {   color: #501a6a;   background-color: #d8b2ec; }
a.list-group-item-darkorchid.active, button.list-group-item-darkorchid.active {   color: #fff;   background-color: #501a6a;   border-color: #501a6a; }
.bg-darkorchid {   background-color: #9932cc !important; }
a.bg-darkorchid:focus, a.bg-darkorchid:hover {   background-color: #7a28a3 !important; }
.border-darkorchid {   border-color: #9932cc !important; }
.text-darkorchid {   color: #9932cc !important; }
a.text-darkorchid:focus, a.text-darkorchid:hover {   color: #7a28a3 !important; }
