.table-darkslategray, .table-darkslategray > th, .table-darkslategray > td {   background-color: #c5cece; }
.table-hover .table-darkslategray:hover {   background-color: #b7c2c2; }
.table-hover .table-darkslategray:hover > td, .table-hover .table-darkslategray:hover > th {   background-color: #b7c2c2; }
.btn-darkslategray {   color: #fff;   background-color: #2f4f4f;   border-color: #2f4f4f; }
.btn-darkslategray:hover {   color: #fff;   background-color: #213737;   border-color: #1c2f2f; }
.btn-darkslategray:focus, .btn-darkslategray.focus {   box-shadow: 0 0 0 3px rgba(47, 79, 79, 0.5); }
.btn-darkslategray.disabled, .btn-darkslategray:disabled {   background-color: #2f4f4f;   border-color: #2f4f4f; }
.btn-darkslategray:active, .btn-darkslategray.active, .show > .btn-darkslategray.dropdown-toggle {   background-color: #213737;   background-image: none;   border-color: #1c2f2f; }
.btn-outline-darkslategray {   color: #2f4f4f;   background-color: transparent;   background-image: none;   border-color: #2f4f4f; }
.btn-outline-darkslategray:hover {   color: #fff;   background-color: #2f4f4f;   border-color: #2f4f4f; }
.btn-outline-darkslategray:focus, .btn-outline-darkslategray.focus {   box-shadow: 0 0 0 3px rgba(47, 79, 79, 0.5); }
.btn-outline-darkslategray.disabled, .btn-outline-darkslategray:disabled {   color: #2f4f4f;   background-color: transparent; }
.btn-outline-darkslategray:active, .btn-outline-darkslategray.active, .show > .btn-outline-darkslategray.dropdown-toggle {   color: #fff;   background-color: #2f4f4f;   border-color: #2f4f4f; }
.badge-darkslategray {   color: #fff;   background-color: #2f4f4f; }
.badge-darkslategray[href]:focus, .badge-darkslategray[href]:hover {   color: #fff;   text-decoration: none;   background-color: #1c2f2f; }
.alert-darkslategray {   color: #182929;   background-color: #d5dcdc;   border-color: #c5cece; }
.alert-darkslategray hr {   border-top-color: #b7c2c2; }
.alert-darkslategray .alert-link {   color: #050909; }
.list-group-item-darkslategray {   color: #182929;   background-color: #c5cece; }
a.list-group-item-darkslategray, button.list-group-item-darkslategray {   color: #182929; }
a.list-group-item-darkslategray:focus, a.list-group-item-darkslategray:hover, button.list-group-item-darkslategray:focus, button.list-group-item-darkslategray:hover {   color: #182929;   background-color: #b7c2c2; }
a.list-group-item-darkslategray.active, button.list-group-item-darkslategray.active {   color: #fff;   background-color: #182929;   border-color: #182929; }
.bg-darkslategray {   background-color: #2f4f4f !important; }
a.bg-darkslategray:focus, a.bg-darkslategray:hover {   background-color: #1c2f2f !important; }
.border-darkslategray {   border-color: #2f4f4f !important; }
.text-darkslategray {   color: #2f4f4f !important; }
a.text-darkslategray:focus, a.text-darkslategray:hover {   color: #1c2f2f !important; }
