.table-darkslateblue, .table-darkslateblue > th, .table-darkslateblue > td {   background-color: #ccc9df; }
.table-hover .table-darkslateblue:hover {   background-color: #bdb9d6; }
.table-hover .table-darkslateblue:hover > td, .table-hover .table-darkslateblue:hover > th {   background-color: #bdb9d6; }
.btn-darkslateblue {   color: #fff;   background-color: #483d8b;   border-color: #483d8b; }
.btn-darkslateblue:hover {   color: #fff;   background-color: #3a3170;   border-color: #362d68; }
.btn-darkslateblue:focus, .btn-darkslateblue.focus {   box-shadow: 0 0 0 3px rgba(72, 61, 139, 0.5); }
.btn-darkslateblue.disabled, .btn-darkslateblue:disabled {   background-color: #483d8b;   border-color: #483d8b; }
.btn-darkslateblue:active, .btn-darkslateblue.active, .show > .btn-darkslateblue.dropdown-toggle {   background-color: #3a3170;   background-image: none;   border-color: #362d68; }
.btn-outline-darkslateblue {   color: #483d8b;   background-color: transparent;   background-image: none;   border-color: #483d8b; }
.btn-outline-darkslateblue:hover {   color: #fff;   background-color: #483d8b;   border-color: #483d8b; }
.btn-outline-darkslateblue:focus, .btn-outline-darkslateblue.focus {   box-shadow: 0 0 0 3px rgba(72, 61, 139, 0.5); }
.btn-outline-darkslateblue.disabled, .btn-outline-darkslateblue:disabled {   color: #483d8b;   background-color: transparent; }
.btn-outline-darkslateblue:active, .btn-outline-darkslateblue.active, .show > .btn-outline-darkslateblue.dropdown-toggle {   color: #fff;   background-color: #483d8b;   border-color: #483d8b; }
.badge-darkslateblue {   color: #fff;   background-color: #483d8b; }
.badge-darkslateblue[href]:focus, .badge-darkslateblue[href]:hover {   color: #fff;   text-decoration: none;   background-color: #362d68; }
.alert-darkslateblue {   color: #252048;   background-color: #dad8e8;   border-color: #ccc9df; }
.alert-darkslateblue hr {   border-top-color: #bdb9d6; }
.alert-darkslateblue .alert-link {   color: #131025; }
.list-group-item-darkslateblue {   color: #252048;   background-color: #ccc9df; }
a.list-group-item-darkslateblue, button.list-group-item-darkslateblue {   color: #252048; }
a.list-group-item-darkslateblue:focus, a.list-group-item-darkslateblue:hover, button.list-group-item-darkslateblue:focus, button.list-group-item-darkslateblue:hover {   color: #252048;   background-color: #bdb9d6; }
a.list-group-item-darkslateblue.active, button.list-group-item-darkslateblue.active {   color: #fff;   background-color: #252048;   border-color: #252048; }
.bg-darkslateblue {   background-color: #483d8b !important; }
a.bg-darkslateblue:focus, a.bg-darkslateblue:hover {   background-color: #362d68 !important; }
.border-darkslateblue {   border-color: #483d8b !important; }
.text-darkslateblue {   color: #483d8b !important; }
a.text-darkslateblue:focus, a.text-darkslateblue:hover {   color: #362d68 !important; }
