.table-flickr-pink, .table-flickr-pink > th, .table-flickr-pink > td {   background-color: #ffb8dd; }
.table-hover .table-flickr-pink:hover {   background-color: #ff9fd1; }
.table-hover .table-flickr-pink:hover > td, .table-hover .table-flickr-pink:hover > th {   background-color: #ff9fd1; }
.btn-flickr-pink {   color: #fff;   background-color: #ff0084;   border-color: #ff0084; }
.btn-flickr-pink:hover {   color: #fff;   background-color: #d90070;   border-color: #cc006a; }
.btn-flickr-pink:focus, .btn-flickr-pink.focus {   box-shadow: 0 0 0 3px rgba(255, 0, 132, 0.5); }
.btn-flickr-pink.disabled, .btn-flickr-pink:disabled {   background-color: #ff0084;   border-color: #ff0084; }
.btn-flickr-pink:active, .btn-flickr-pink.active, .show > .btn-flickr-pink.dropdown-toggle {   background-color: #d90070;   background-image: none;   border-color: #cc006a; }
.btn-outline-flickr-pink {   color: #ff0084;   background-color: transparent;   background-image: none;   border-color: #ff0084; }
.btn-outline-flickr-pink:hover {   color: #fff;   background-color: #ff0084;   border-color: #ff0084; }
.btn-outline-flickr-pink:focus, .btn-outline-flickr-pink.focus {   box-shadow: 0 0 0 3px rgba(255, 0, 132, 0.5); }
.btn-outline-flickr-pink.disabled, .btn-outline-flickr-pink:disabled {   color: #ff0084;   background-color: transparent; }
.btn-outline-flickr-pink:active, .btn-outline-flickr-pink.active, .show > .btn-outline-flickr-pink.dropdown-toggle {   color: #fff;   background-color: #ff0084;   border-color: #ff0084; }
.badge-flickr-pink {   color: #fff;   background-color: #ff0084; }
.badge-flickr-pink[href]:focus, .badge-flickr-pink[href]:hover {   color: #fff;   text-decoration: none;   background-color: #cc006a; }
.alert-flickr-pink {   color: #850045;   background-color: #ffcce6;   border-color: #ffb8dd; }
.alert-flickr-pink hr {   border-top-color: #ff9fd1; }
.alert-flickr-pink .alert-link {   color: #52002b; }
.list-group-item-flickr-pink {   color: #850045;   background-color: #ffb8dd; }
a.list-group-item-flickr-pink, button.list-group-item-flickr-pink {   color: #850045; }
a.list-group-item-flickr-pink:focus, a.list-group-item-flickr-pink:hover, button.list-group-item-flickr-pink:focus, button.list-group-item-flickr-pink:hover {   color: #850045;   background-color: #ff9fd1; }
a.list-group-item-flickr-pink.active, button.list-group-item-flickr-pink.active {   color: #fff;   background-color: #850045;   border-color: #850045; }
.bg-flickr-pink {   background-color: #ff0084 !important; }
a.bg-flickr-pink:focus, a.bg-flickr-pink:hover {   background-color: #cc006a !important; }
.border-flickr-pink {   border-color: #ff0084 !important; }
.text-flickr-pink {   color: #ff0084 !important; }
a.text-flickr-pink:focus, a.text-flickr-pink:hover {   color: #cc006a !important; }
