.table-floralwhite, .table-floralwhite > th, .table-floralwhite > td {   background-color: #fffefb; }
.table-hover .table-floralwhite:hover {   background-color: #fff8e2; }
.table-hover .table-floralwhite:hover > td, .table-hover .table-floralwhite:hover > th {   background-color: #fff8e2; }
.btn-floralwhite {   color: #111;   background-color: #fffaf0;   border-color: #fffaf0; }
.btn-floralwhite:hover {   color: #111;   background-color: #ffedca;   border-color: #ffe9bd; }
.btn-floralwhite:focus, .btn-floralwhite.focus {   box-shadow: 0 0 0 3px rgba(255, 250, 240, 0.5); }
.btn-floralwhite.disabled, .btn-floralwhite:disabled {   background-color: #fffaf0;   border-color: #fffaf0; }
.btn-floralwhite:active, .btn-floralwhite.active, .show > .btn-floralwhite.dropdown-toggle {   background-color: #ffedca;   background-image: none;   border-color: #ffe9bd; }
.btn-outline-floralwhite {   color: #fffaf0;   background-color: transparent;   background-image: none;   border-color: #fffaf0; }
.btn-outline-floralwhite:hover {   color: #fff;   background-color: #fffaf0;   border-color: #fffaf0; }
.btn-outline-floralwhite:focus, .btn-outline-floralwhite.focus {   box-shadow: 0 0 0 3px rgba(255, 250, 240, 0.5); }
.btn-outline-floralwhite.disabled, .btn-outline-floralwhite:disabled {   color: #fffaf0;   background-color: transparent; }
.btn-outline-floralwhite:active, .btn-outline-floralwhite.active, .show > .btn-outline-floralwhite.dropdown-toggle {   color: #fff;   background-color: #fffaf0;   border-color: #fffaf0; }
.badge-floralwhite {   color: #111;   background-color: #fffaf0; }
.badge-floralwhite[href]:focus, .badge-floralwhite[href]:hover {   color: #111;   text-decoration: none;   background-color: #ffe9bd; }
.alert-floralwhite {   color: #85827d;   background-color: #fffefc;   border-color: #fffefb; }
.alert-floralwhite hr {   border-top-color: #fff8e2; }
.alert-floralwhite .alert-link {   color: #6b6864; }
.list-group-item-floralwhite {   color: #85827d;   background-color: #fffefb; }
a.list-group-item-floralwhite, button.list-group-item-floralwhite {   color: #85827d; }
a.list-group-item-floralwhite:focus, a.list-group-item-floralwhite:hover, button.list-group-item-floralwhite:focus, button.list-group-item-floralwhite:hover {   color: #85827d;   background-color: #fff8e2; }
a.list-group-item-floralwhite.active, button.list-group-item-floralwhite.active {   color: #fff;   background-color: #85827d;   border-color: #85827d; }
.bg-floralwhite {   background-color: #fffaf0 !important; }
a.bg-floralwhite:focus, a.bg-floralwhite:hover {   background-color: #ffe9bd !important; }
.border-floralwhite {   border-color: #fffaf0 !important; }
.text-floralwhite {   color: #fffaf0 !important; }
a.text-floralwhite:focus, a.text-floralwhite:hover {   color: #ffe9bd !important; }
