.table-green, .table-green > th, .table-green > td {   background-color: #b8dbb8; }
.table-hover .table-green:hover {   background-color: #a7d2a7; }
.table-hover .table-green:hover > td, .table-hover .table-green:hover > th {   background-color: #a7d2a7; }
.btn-green {   color: #fff;   background-color: #008000;   border-color: #008000; }
.btn-green:hover {   color: #fff;   background-color: #005a00;   border-color: #004d00; }
.btn-green:focus, .btn-green.focus {   box-shadow: 0 0 0 3px rgba(0, 128, 0, 0.5); }
.btn-green.disabled, .btn-green:disabled {   background-color: #008000;   border-color: #008000; }
.btn-green:active, .btn-green.active, .show > .btn-green.dropdown-toggle {   background-color: #005a00;   background-image: none;   border-color: #004d00; }
.btn-outline-green {   color: #008000;   background-color: transparent;   background-image: none;   border-color: #008000; }
.btn-outline-green:hover {   color: #fff;   background-color: #008000;   border-color: #008000; }
.btn-outline-green:focus, .btn-outline-green.focus {   box-shadow: 0 0 0 3px rgba(0, 128, 0, 0.5); }
.btn-outline-green.disabled, .btn-outline-green:disabled {   color: #008000;   background-color: transparent; }
.btn-outline-green:active, .btn-outline-green.active, .show > .btn-outline-green.dropdown-toggle {   color: #fff;   background-color: #008000;   border-color: #008000; }
.badge-green {   color: #fff;   background-color: #008000; }
.badge-green[href]:focus, .badge-green[href]:hover {   color: #fff;   text-decoration: none;   background-color: #004d00; }
.alert-green {   color: #004300;   background-color: #cce6cc;   border-color: #b8dbb8; }
.alert-green hr {   border-top-color: #a7d2a7; }
.alert-green .alert-link {   color: #001000; }
.list-group-item-green {   color: #004300;   background-color: #b8dbb8; }
a.list-group-item-green, button.list-group-item-green {   color: #004300; }
a.list-group-item-green:focus, a.list-group-item-green:hover, button.list-group-item-green:focus, button.list-group-item-green:hover {   color: #004300;   background-color: #a7d2a7; }
a.list-group-item-green.active, button.list-group-item-green.active {   color: #fff;   background-color: #004300;   border-color: #004300; }
.bg-green {   background-color: #008000 !important; }
a.bg-green:focus, a.bg-green:hover {   background-color: #004d00 !important; }
.border-green {   border-color: #008000 !important; }
.text-green {   color: #008000 !important; }
a.text-green:focus, a.text-green:hover {   color: #004d00 !important; }
