.table-honeydew, .table-honeydew > th, .table-honeydew > td {   background-color: #fbfffb; }
.table-hover .table-honeydew:hover {   background-color: #e2ffe2; }
.table-hover .table-honeydew:hover > td, .table-hover .table-honeydew:hover > th {   background-color: #e2ffe2; }
.btn-honeydew {   color: #111;   background-color: #f0fff0;   border-color: #f0fff0; }
.btn-honeydew:hover {   color: #111;   background-color: #caffca;   border-color: #bdffbd; }
.btn-honeydew:focus, .btn-honeydew.focus {   box-shadow: 0 0 0 0.2rem rgba(240, 255, 240, 0.5); }
.btn-honeydew.disabled, .btn-honeydew:disabled {   background-color: #f0fff0;   border-color: #f0fff0; }
.btn-honeydew:not([disabled]):not(.disabled):active, .btn-honeydew:not([disabled]):not(.disabled).active, .show > .btn-honeydew.dropdown-toggle {   color: #111;   background-color: #bdffbd;   border-color: #b0ffb0;   box-shadow: 0 0 0 0.2rem rgba(240, 255, 240, 0.5); }
.btn-outline-honeydew {   color: #f0fff0;   background-color: transparent;   background-image: none;   border-color: #f0fff0; }
.btn-outline-honeydew:hover {   color: #fff;   background-color: #f0fff0;   border-color: #f0fff0; }
.btn-outline-honeydew:focus, .btn-outline-honeydew.focus {   box-shadow: 0 0 0 0.2rem rgba(240, 255, 240, 0.5); }
.btn-outline-honeydew.disabled, .btn-outline-honeydew:disabled {   color: #f0fff0;   background-color: transparent; }
.btn-outline-honeydew:not([disabled]):not(.disabled):active, .btn-outline-honeydew:not([disabled]):not(.disabled).active, .show > .btn-outline-honeydew.dropdown-toggle {   color: #fff;   background-color: #f0fff0;   border-color: #f0fff0;   box-shadow: 0 0 0 0.2rem rgba(240, 255, 240, 0.5); }
.badge-honeydew {   color: #111;   background-color: #f0fff0; }
.badge-honeydew[href]:focus, .badge-honeydew[href]:hover {   color: #111;   text-decoration: none;   background-color: #bdffbd; }
.alert-honeydew {   color: #7d857d;   background-color: #fcfffc;   border-color: #fbfffb; }
.alert-honeydew hr {   border-top-color: #e2ffe2; }
.alert-honeydew .alert-link {   color: #646b64; }
.list-group-item-honeydew {   color: #7d857d;   background-color: #fbfffb; }
a.list-group-item-honeydew, button.list-group-item-honeydew {   color: #7d857d; }
a.list-group-item-honeydew:focus, a.list-group-item-honeydew:hover, button.list-group-item-honeydew:focus, button.list-group-item-honeydew:hover {   color: #7d857d;   background-color: #e2ffe2; }
a.list-group-item-honeydew.active, button.list-group-item-honeydew.active {   color: #fff;   background-color: #7d857d;   border-color: #7d857d; }
.bg-honeydew {   background-color: #f0fff0 !important; }
a.bg-honeydew:focus, a.bg-honeydew:hover {   background-color: #bdffbd !important; }
.border-honeydew {   border-color: #f0fff0 !important; }
.text-honeydew {   color: #f0fff0 !important; }
a.text-honeydew:focus, a.text-honeydew:hover {   color: #bdffbd !important; }
