.table-lavenderblush, .table-lavenderblush > th, .table-lavenderblush > td {   background-color: #fffbfc; }
.table-hover .table-lavenderblush:hover {   background-color: #ffe2e9; }
.table-hover .table-lavenderblush:hover > td, .table-hover .table-lavenderblush:hover > th {   background-color: #ffe2e9; }
.btn-lavenderblush {   color: #111;   background-color: #fff0f5;   border-color: #fff0f5; }
.btn-lavenderblush:hover {   color: #111;   background-color: #ffcadc;   border-color: #ffbdd3; }
.btn-lavenderblush:focus, .btn-lavenderblush.focus {   box-shadow: 0 0 0 3px rgba(255, 240, 245, 0.5); }
.btn-lavenderblush.disabled, .btn-lavenderblush:disabled {   background-color: #fff0f5;   border-color: #fff0f5; }
.btn-lavenderblush:active, .btn-lavenderblush.active, .show > .btn-lavenderblush.dropdown-toggle {   background-color: #ffcadc;   background-image: none;   border-color: #ffbdd3; }
.btn-outline-lavenderblush {   color: #fff0f5;   background-color: transparent;   background-image: none;   border-color: #fff0f5; }
.btn-outline-lavenderblush:hover {   color: #fff;   background-color: #fff0f5;   border-color: #fff0f5; }
.btn-outline-lavenderblush:focus, .btn-outline-lavenderblush.focus {   box-shadow: 0 0 0 3px rgba(255, 240, 245, 0.5); }
.btn-outline-lavenderblush.disabled, .btn-outline-lavenderblush:disabled {   color: #fff0f5;   background-color: transparent; }
.btn-outline-lavenderblush:active, .btn-outline-lavenderblush.active, .show > .btn-outline-lavenderblush.dropdown-toggle {   color: #fff;   background-color: #fff0f5;   border-color: #fff0f5; }
.badge-lavenderblush {   color: #111;   background-color: #fff0f5; }
.badge-lavenderblush[href]:focus, .badge-lavenderblush[href]:hover {   color: #111;   text-decoration: none;   background-color: #ffbdd3; }
.alert-lavenderblush {   color: #857d7f;   background-color: #fffcfd;   border-color: #fffbfc; }
.alert-lavenderblush hr {   border-top-color: #ffe2e9; }
.alert-lavenderblush .alert-link {   color: #6b6466; }
.list-group-item-lavenderblush {   color: #857d7f;   background-color: #fffbfc; }
a.list-group-item-lavenderblush, button.list-group-item-lavenderblush {   color: #857d7f; }
a.list-group-item-lavenderblush:focus, a.list-group-item-lavenderblush:hover, button.list-group-item-lavenderblush:focus, button.list-group-item-lavenderblush:hover {   color: #857d7f;   background-color: #ffe2e9; }
a.list-group-item-lavenderblush.active, button.list-group-item-lavenderblush.active {   color: #fff;   background-color: #857d7f;   border-color: #857d7f; }
.bg-lavenderblush {   background-color: #fff0f5 !important; }
a.bg-lavenderblush:focus, a.bg-lavenderblush:hover {   background-color: #ffbdd3 !important; }
.border-lavenderblush {   border-color: #fff0f5 !important; }
.text-lavenderblush {   color: #fff0f5 !important; }
a.text-lavenderblush:focus, a.text-lavenderblush:hover {   color: #ffbdd3 !important; }
