.table-lightsalmon, .table-lightsalmon > th, .table-lightsalmon > td {   background-color: #ffe4da; }
.table-hover .table-lightsalmon:hover {   background-color: #ffd1c1; }
.table-hover .table-lightsalmon:hover > td, .table-hover .table-lightsalmon:hover > th {   background-color: #ffd1c1; }
.btn-lightsalmon {   color: #111;   background-color: #ffa07a;   border-color: #ffa07a; }
.btn-lightsalmon:hover {   color: #111;   background-color: #ff8554;   border-color: #ff7c47; }
.btn-lightsalmon:focus, .btn-lightsalmon.focus {   box-shadow: 0 0 0 0.2rem rgba(255, 160, 122, 0.5); }
.btn-lightsalmon.disabled, .btn-lightsalmon:disabled {   background-color: #ffa07a;   border-color: #ffa07a; }
.btn-lightsalmon:not([disabled]):not(.disabled):active, .btn-lightsalmon:not([disabled]):not(.disabled).active, .show > .btn-lightsalmon.dropdown-toggle {   color: #111;   background-color: #ff7c47;   border-color: #ff723a;   box-shadow: 0 0 0 0.2rem rgba(255, 160, 122, 0.5); }
.btn-outline-lightsalmon {   color: #ffa07a;   background-color: transparent;   background-image: none;   border-color: #ffa07a; }
.btn-outline-lightsalmon:hover {   color: #fff;   background-color: #ffa07a;   border-color: #ffa07a; }
.btn-outline-lightsalmon:focus, .btn-outline-lightsalmon.focus {   box-shadow: 0 0 0 0.2rem rgba(255, 160, 122, 0.5); }
.btn-outline-lightsalmon.disabled, .btn-outline-lightsalmon:disabled {   color: #ffa07a;   background-color: transparent; }
.btn-outline-lightsalmon:not([disabled]):not(.disabled):active, .btn-outline-lightsalmon:not([disabled]):not(.disabled).active, .show > .btn-outline-lightsalmon.dropdown-toggle {   color: #fff;   background-color: #ffa07a;   border-color: #ffa07a;   box-shadow: 0 0 0 0.2rem rgba(255, 160, 122, 0.5); }
.badge-lightsalmon {   color: #111;   background-color: #ffa07a; }
.badge-lightsalmon[href]:focus, .badge-lightsalmon[href]:hover {   color: #111;   text-decoration: none;   background-color: #ff7c47; }
.alert-lightsalmon {   color: #85533f;   background-color: #ffece4;   border-color: #ffe4da; }
.alert-lightsalmon hr {   border-top-color: #ffd1c1; }
.alert-lightsalmon .alert-link {   color: #623d2f; }
.list-group-item-lightsalmon {   color: #85533f;   background-color: #ffe4da; }
a.list-group-item-lightsalmon, button.list-group-item-lightsalmon {   color: #85533f; }
a.list-group-item-lightsalmon:focus, a.list-group-item-lightsalmon:hover, button.list-group-item-lightsalmon:focus, button.list-group-item-lightsalmon:hover {   color: #85533f;   background-color: #ffd1c1; }
a.list-group-item-lightsalmon.active, button.list-group-item-lightsalmon.active {   color: #fff;   background-color: #85533f;   border-color: #85533f; }
.bg-lightsalmon {   background-color: #ffa07a !important; }
a.bg-lightsalmon:focus, a.bg-lightsalmon:hover {   background-color: #ff7c47 !important; }
.border-lightsalmon {   border-color: #ffa07a !important; }
.text-lightsalmon {   color: #ffa07a !important; }
a.text-lightsalmon:focus, a.text-lightsalmon:hover {   color: #ff7c47 !important; }
