.table-lightskyblue, .table-lightskyblue > th, .table-lightskyblue > td {   background-color: #ddf1fe; }
.table-hover .table-lightskyblue:hover {   background-color: #c4e7fd; }
.table-hover .table-lightskyblue:hover > td, .table-hover .table-lightskyblue:hover > th {   background-color: #c4e7fd; }
.btn-lightskyblue {   color: #111;   background-color: #87cefa;   border-color: #87cefa; }
.btn-lightskyblue:hover {   color: #111;   background-color: #62bff8;   border-color: #56baf8; }
.btn-lightskyblue:focus, .btn-lightskyblue.focus {   box-shadow: 0 0 0 0.2rem rgba(135, 206, 250, 0.5); }
.btn-lightskyblue.disabled, .btn-lightskyblue:disabled {   background-color: #87cefa;   border-color: #87cefa; }
.btn-lightskyblue:not([disabled]):not(.disabled):active, .btn-lightskyblue:not([disabled]):not(.disabled).active, .show > .btn-lightskyblue.dropdown-toggle {   color: #111;   background-color: #56baf8;   border-color: #4ab5f7;   box-shadow: 0 0 0 0.2rem rgba(135, 206, 250, 0.5); }
.btn-outline-lightskyblue {   color: #87cefa;   background-color: transparent;   background-image: none;   border-color: #87cefa; }
.btn-outline-lightskyblue:hover {   color: #fff;   background-color: #87cefa;   border-color: #87cefa; }
.btn-outline-lightskyblue:focus, .btn-outline-lightskyblue.focus {   box-shadow: 0 0 0 0.2rem rgba(135, 206, 250, 0.5); }
.btn-outline-lightskyblue.disabled, .btn-outline-lightskyblue:disabled {   color: #87cefa;   background-color: transparent; }
.btn-outline-lightskyblue:not([disabled]):not(.disabled):active, .btn-outline-lightskyblue:not([disabled]):not(.disabled).active, .show > .btn-outline-lightskyblue.dropdown-toggle {   color: #fff;   background-color: #87cefa;   border-color: #87cefa;   box-shadow: 0 0 0 0.2rem rgba(135, 206, 250, 0.5); }
.badge-lightskyblue {   color: #111;   background-color: #87cefa; }
.badge-lightskyblue[href]:focus, .badge-lightskyblue[href]:hover {   color: #111;   text-decoration: none;   background-color: #56baf8; }
.alert-lightskyblue {   color: #466b82;   background-color: #e7f5fe;   border-color: #ddf1fe; }
.alert-lightskyblue hr {   border-top-color: #c4e7fd; }
.alert-lightskyblue .alert-link {   color: #345061; }
.list-group-item-lightskyblue {   color: #466b82;   background-color: #ddf1fe; }
a.list-group-item-lightskyblue, button.list-group-item-lightskyblue {   color: #466b82; }
a.list-group-item-lightskyblue:focus, a.list-group-item-lightskyblue:hover, button.list-group-item-lightskyblue:focus, button.list-group-item-lightskyblue:hover {   color: #466b82;   background-color: #c4e7fd; }
a.list-group-item-lightskyblue.active, button.list-group-item-lightskyblue.active {   color: #fff;   background-color: #466b82;   border-color: #466b82; }
.bg-lightskyblue {   background-color: #87cefa !important; }
a.bg-lightskyblue:focus, a.bg-lightskyblue:hover {   background-color: #56baf8 !important; }
.border-lightskyblue {   border-color: #87cefa !important; }
.text-lightskyblue {   color: #87cefa !important; }
a.text-lightskyblue:focus, a.text-lightskyblue:hover {   color: #56baf8 !important; }
