.table-lightcyan, .table-lightcyan > th, .table-lightcyan > td {   background-color: #f6ffff; }
.table-hover .table-lightcyan:hover {   background-color: #ddffff; }
.table-hover .table-lightcyan:hover > td, .table-hover .table-lightcyan:hover > th {   background-color: #ddffff; }
.btn-lightcyan {   color: #111;   background-color: #e0ffff;   border-color: #e0ffff; }
.btn-lightcyan:hover {   color: #111;   background-color: #baffff;   border-color: #adffff; }
.btn-lightcyan:focus, .btn-lightcyan.focus {   box-shadow: 0 0 0 3px rgba(224, 255, 255, 0.5); }
.btn-lightcyan.disabled, .btn-lightcyan:disabled {   background-color: #e0ffff;   border-color: #e0ffff; }
.btn-lightcyan:active, .btn-lightcyan.active, .show > .btn-lightcyan.dropdown-toggle {   background-color: #baffff;   background-image: none;   border-color: #adffff; }
.btn-outline-lightcyan {   color: #e0ffff;   background-color: transparent;   background-image: none;   border-color: #e0ffff; }
.btn-outline-lightcyan:hover {   color: #fff;   background-color: #e0ffff;   border-color: #e0ffff; }
.btn-outline-lightcyan:focus, .btn-outline-lightcyan.focus {   box-shadow: 0 0 0 3px rgba(224, 255, 255, 0.5); }
.btn-outline-lightcyan.disabled, .btn-outline-lightcyan:disabled {   color: #e0ffff;   background-color: transparent; }
.btn-outline-lightcyan:active, .btn-outline-lightcyan.active, .show > .btn-outline-lightcyan.dropdown-toggle {   color: #fff;   background-color: #e0ffff;   border-color: #e0ffff; }
.badge-lightcyan {   color: #111;   background-color: #e0ffff; }
.badge-lightcyan[href]:focus, .badge-lightcyan[href]:hover {   color: #111;   text-decoration: none;   background-color: #adffff; }
.alert-lightcyan {   color: #748585;   background-color: #f9ffff;   border-color: #f6ffff; }
.alert-lightcyan hr {   border-top-color: #ddffff; }
.alert-lightcyan .alert-link {   color: #5c6a6a; }
.list-group-item-lightcyan {   color: #748585;   background-color: #f6ffff; }
a.list-group-item-lightcyan, button.list-group-item-lightcyan {   color: #748585; }
a.list-group-item-lightcyan:focus, a.list-group-item-lightcyan:hover, button.list-group-item-lightcyan:focus, button.list-group-item-lightcyan:hover {   color: #748585;   background-color: #ddffff; }
a.list-group-item-lightcyan.active, button.list-group-item-lightcyan.active {   color: #fff;   background-color: #748585;   border-color: #748585; }
.bg-lightcyan {   background-color: #e0ffff !important; }
a.bg-lightcyan:focus, a.bg-lightcyan:hover {   background-color: #adffff !important; }
.border-lightcyan {   border-color: #e0ffff !important; }
.text-lightcyan {   color: #e0ffff !important; }
a.text-lightcyan:focus, a.text-lightcyan:hover {   color: #adffff !important; }
