.table-lightgray, .table-lightgray > th, .table-lightgray > td {   background-color: #f3f3f3; }
.table-hover .table-lightgray:hover {   background-color: #e6e6e6; }
.table-hover .table-lightgray:hover > td, .table-hover .table-lightgray:hover > th {   background-color: #e6e6e6; }
.btn-lightgray {   color: #111;   background-color: #d3d3d3;   border-color: #d3d3d3; }
.btn-lightgray:hover {   color: #111;   background-color: silver;   border-color: #bababa; }
.btn-lightgray:focus, .btn-lightgray.focus {   box-shadow: 0 0 0 0.2rem rgba(211, 211, 211, 0.5); }
.btn-lightgray.disabled, .btn-lightgray:disabled {   background-color: #d3d3d3;   border-color: #d3d3d3; }
.btn-lightgray:not([disabled]):not(.disabled):active, .btn-lightgray:not([disabled]):not(.disabled).active, .show > .btn-lightgray.dropdown-toggle {   color: #111;   background-color: #bababa;   border-color: #b3b3b3;   box-shadow: 0 0 0 0.2rem rgba(211, 211, 211, 0.5); }
.btn-outline-lightgray {   color: #d3d3d3;   background-color: transparent;   background-image: none;   border-color: #d3d3d3; }
.btn-outline-lightgray:hover {   color: #fff;   background-color: #d3d3d3;   border-color: #d3d3d3; }
.btn-outline-lightgray:focus, .btn-outline-lightgray.focus {   box-shadow: 0 0 0 0.2rem rgba(211, 211, 211, 0.5); }
.btn-outline-lightgray.disabled, .btn-outline-lightgray:disabled {   color: #d3d3d3;   background-color: transparent; }
.btn-outline-lightgray:not([disabled]):not(.disabled):active, .btn-outline-lightgray:not([disabled]):not(.disabled).active, .show > .btn-outline-lightgray.dropdown-toggle {   color: #fff;   background-color: #d3d3d3;   border-color: #d3d3d3;   box-shadow: 0 0 0 0.2rem rgba(211, 211, 211, 0.5); }
.badge-lightgray {   color: #111;   background-color: #d3d3d3; }
.badge-lightgray[href]:focus, .badge-lightgray[href]:hover {   color: #111;   text-decoration: none;   background-color: #bababa; }
.alert-lightgray {   color: #6e6e6e;   background-color: #f6f6f6;   border-color: #f3f3f3; }
.alert-lightgray hr {   border-top-color: #e6e6e6; }
.alert-lightgray .alert-link {   color: #555555; }
.list-group-item-lightgray {   color: #6e6e6e;   background-color: #f3f3f3; }
a.list-group-item-lightgray, button.list-group-item-lightgray {   color: #6e6e6e; }
a.list-group-item-lightgray:focus, a.list-group-item-lightgray:hover, button.list-group-item-lightgray:focus, button.list-group-item-lightgray:hover {   color: #6e6e6e;   background-color: #e6e6e6; }
a.list-group-item-lightgray.active, button.list-group-item-lightgray.active {   color: #fff;   background-color: #6e6e6e;   border-color: #6e6e6e; }
.bg-lightgray {   background-color: #d3d3d3 !important; }
a.bg-lightgray:focus, a.bg-lightgray:hover {   background-color: #bababa !important; }
.border-lightgray {   border-color: #d3d3d3 !important; }
.text-lightgray {   color: #d3d3d3 !important; }
a.text-lightgray:focus, a.text-lightgray:hover {   color: #bababa !important; }
