.table-limegreen, .table-limegreen > th, .table-limegreen > td {   background-color: #c6f1c6; }
.table-hover .table-limegreen:hover {   background-color: #b2ecb2; }
.table-hover .table-limegreen:hover > td, .table-hover .table-limegreen:hover > th {   background-color: #b2ecb2; }
.btn-limegreen {   color: #fff;   background-color: #32cd32;   border-color: #32cd32; }
.btn-limegreen:hover {   color: #fff;   background-color: #2bae2b;   border-color: #28a428; }
.btn-limegreen:focus, .btn-limegreen.focus {   box-shadow: 0 0 0 3px rgba(50, 205, 50, 0.5); }
.btn-limegreen.disabled, .btn-limegreen:disabled {   background-color: #32cd32;   border-color: #32cd32; }
.btn-limegreen:active, .btn-limegreen.active, .show > .btn-limegreen.dropdown-toggle {   background-color: #2bae2b;   background-image: none;   border-color: #28a428; }
.btn-outline-limegreen {   color: #32cd32;   background-color: transparent;   background-image: none;   border-color: #32cd32; }
.btn-outline-limegreen:hover {   color: #fff;   background-color: #32cd32;   border-color: #32cd32; }
.btn-outline-limegreen:focus, .btn-outline-limegreen.focus {   box-shadow: 0 0 0 3px rgba(50, 205, 50, 0.5); }
.btn-outline-limegreen.disabled, .btn-outline-limegreen:disabled {   color: #32cd32;   background-color: transparent; }
.btn-outline-limegreen:active, .btn-outline-limegreen.active, .show > .btn-outline-limegreen.dropdown-toggle {   color: #fff;   background-color: #32cd32;   border-color: #32cd32; }
.badge-limegreen {   color: #fff;   background-color: #32cd32; }
.badge-limegreen[href]:focus, .badge-limegreen[href]:hover {   color: #fff;   text-decoration: none;   background-color: #28a428; }
.alert-limegreen {   color: #1a6b1a;   background-color: #d6f5d6;   border-color: #c6f1c6; }
.alert-limegreen hr {   border-top-color: #b2ecb2; }
.alert-limegreen .alert-link {   color: #104210; }
.list-group-item-limegreen {   color: #1a6b1a;   background-color: #c6f1c6; }
a.list-group-item-limegreen, button.list-group-item-limegreen {   color: #1a6b1a; }
a.list-group-item-limegreen:focus, a.list-group-item-limegreen:hover, button.list-group-item-limegreen:focus, button.list-group-item-limegreen:hover {   color: #1a6b1a;   background-color: #b2ecb2; }
a.list-group-item-limegreen.active, button.list-group-item-limegreen.active {   color: #fff;   background-color: #1a6b1a;   border-color: #1a6b1a; }
.bg-limegreen {   background-color: #32cd32 !important; }
a.bg-limegreen:focus, a.bg-limegreen:hover {   background-color: #28a428 !important; }
.border-limegreen {   border-color: #32cd32 !important; }
.text-limegreen {   color: #32cd32 !important; }
a.text-limegreen:focus, a.text-limegreen:hover {   color: #28a428 !important; }
