.table-magenta, .table-magenta > th, .table-magenta > td {   background-color: #ffb8ff; }
.table-hover .table-magenta:hover {   background-color: #ff9fff; }
.table-hover .table-magenta:hover > td, .table-hover .table-magenta:hover > th {   background-color: #ff9fff; }
.btn-magenta {   color: #fff;   background-color: #ff00ff;   border-color: #ff00ff; }
.btn-magenta:hover {   color: #fff;   background-color: #d900d9;   border-color: #cc00cc; }
.btn-magenta:focus, .btn-magenta.focus {   box-shadow: 0 0 0 0.2rem rgba(255, 0, 255, 0.5); }
.btn-magenta.disabled, .btn-magenta:disabled {   background-color: #ff00ff;   border-color: #ff00ff; }
.btn-magenta:not([disabled]):not(.disabled):active, .btn-magenta:not([disabled]):not(.disabled).active, .show > .btn-magenta.dropdown-toggle {   color: #fff;   background-color: #cc00cc;   border-color: #bf00bf;   box-shadow: 0 0 0 0.2rem rgba(255, 0, 255, 0.5); }
.btn-outline-magenta {   color: #ff00ff;   background-color: transparent;   background-image: none;   border-color: #ff00ff; }
.btn-outline-magenta:hover {   color: #fff;   background-color: #ff00ff;   border-color: #ff00ff; }
.btn-outline-magenta:focus, .btn-outline-magenta.focus {   box-shadow: 0 0 0 0.2rem rgba(255, 0, 255, 0.5); }
.btn-outline-magenta.disabled, .btn-outline-magenta:disabled {   color: #ff00ff;   background-color: transparent; }
.btn-outline-magenta:not([disabled]):not(.disabled):active, .btn-outline-magenta:not([disabled]):not(.disabled).active, .show > .btn-outline-magenta.dropdown-toggle {   color: #fff;   background-color: #ff00ff;   border-color: #ff00ff;   box-shadow: 0 0 0 0.2rem rgba(255, 0, 255, 0.5); }
.badge-magenta {   color: #fff;   background-color: #ff00ff; }
.badge-magenta[href]:focus, .badge-magenta[href]:hover {   color: #fff;   text-decoration: none;   background-color: #cc00cc; }
.alert-magenta {   color: #850085;   background-color: #ffccff;   border-color: #ffb8ff; }
.alert-magenta hr {   border-top-color: #ff9fff; }
.alert-magenta .alert-link {   color: #520052; }
.list-group-item-magenta {   color: #850085;   background-color: #ffb8ff; }
a.list-group-item-magenta, button.list-group-item-magenta {   color: #850085; }
a.list-group-item-magenta:focus, a.list-group-item-magenta:hover, button.list-group-item-magenta:focus, button.list-group-item-magenta:hover {   color: #850085;   background-color: #ff9fff; }
a.list-group-item-magenta.active, button.list-group-item-magenta.active {   color: #fff;   background-color: #850085;   border-color: #850085; }
.bg-magenta {   background-color: #ff00ff !important; }
a.bg-magenta:focus, a.bg-magenta:hover {   background-color: #cc00cc !important; }
.border-magenta {   border-color: #ff00ff !important; }
.text-magenta {   color: #ff00ff !important; }
a.text-magenta:focus, a.text-magenta:hover {   color: #cc00cc !important; }
