.table-mediumvioletred, .table-mediumvioletred > th, .table-mediumvioletred > td {   background-color: #efbddd; }
.table-hover .table-mediumvioletred:hover {   background-color: #eaa8d2; }
.table-hover .table-mediumvioletred:hover > td, .table-hover .table-mediumvioletred:hover > th {   background-color: #eaa8d2; }
.btn-mediumvioletred {   color: #fff;   background-color: #c71585;   border-color: #c71585; }
.btn-mediumvioletred:hover {   color: #fff;   background-color: #a4116e;   border-color: #991066; }
.btn-mediumvioletred:focus, .btn-mediumvioletred.focus {   box-shadow: 0 0 0 3px rgba(199, 21, 133, 0.5); }
.btn-mediumvioletred.disabled, .btn-mediumvioletred:disabled {   background-color: #c71585;   border-color: #c71585; }
.btn-mediumvioletred:active, .btn-mediumvioletred.active, .show > .btn-mediumvioletred.dropdown-toggle {   background-color: #a4116e;   background-image: none;   border-color: #991066; }
.btn-outline-mediumvioletred {   color: #c71585;   background-color: transparent;   background-image: none;   border-color: #c71585; }
.btn-outline-mediumvioletred:hover {   color: #fff;   background-color: #c71585;   border-color: #c71585; }
.btn-outline-mediumvioletred:focus, .btn-outline-mediumvioletred.focus {   box-shadow: 0 0 0 3px rgba(199, 21, 133, 0.5); }
.btn-outline-mediumvioletred.disabled, .btn-outline-mediumvioletred:disabled {   color: #c71585;   background-color: transparent; }
.btn-outline-mediumvioletred:active, .btn-outline-mediumvioletred.active, .show > .btn-outline-mediumvioletred.dropdown-toggle {   color: #fff;   background-color: #c71585;   border-color: #c71585; }
.badge-mediumvioletred {   color: #fff;   background-color: #c71585; }
.badge-mediumvioletred[href]:focus, .badge-mediumvioletred[href]:hover {   color: #fff;   text-decoration: none;   background-color: #991066; }
.alert-mediumvioletred {   color: #670b45;   background-color: #f4d0e7;   border-color: #efbddd; }
.alert-mediumvioletred hr {   border-top-color: #eaa8d2; }
.alert-mediumvioletred .alert-link {   color: #390626; }
.list-group-item-mediumvioletred {   color: #670b45;   background-color: #efbddd; }
a.list-group-item-mediumvioletred, button.list-group-item-mediumvioletred {   color: #670b45; }
a.list-group-item-mediumvioletred:focus, a.list-group-item-mediumvioletred:hover, button.list-group-item-mediumvioletred:focus, button.list-group-item-mediumvioletred:hover {   color: #670b45;   background-color: #eaa8d2; }
a.list-group-item-mediumvioletred.active, button.list-group-item-mediumvioletred.active {   color: #fff;   background-color: #670b45;   border-color: #670b45; }
.bg-mediumvioletred {   background-color: #c71585 !important; }
a.bg-mediumvioletred:focus, a.bg-mediumvioletred:hover {   background-color: #991066 !important; }
.border-mediumvioletred {   border-color: #c71585 !important; }
.text-mediumvioletred {   color: #c71585 !important; }
a.text-mediumvioletred:focus, a.text-mediumvioletred:hover {   color: #991066 !important; }
