.table-mediumslateblue, .table-mediumslateblue > th, .table-mediumslateblue > td {   background-color: #dad5fa; }
.table-hover .table-mediumslateblue:hover {   background-color: #c6bef7; }
.table-hover .table-mediumslateblue:hover > td, .table-hover .table-mediumslateblue:hover > th {   background-color: #c6bef7; }
.btn-mediumslateblue {   color: #fff;   background-color: #7b68ee;   border-color: #7b68ee; }
.btn-mediumslateblue:hover {   color: #fff;   background-color: #5d46ea;   border-color: #533ae9; }
.btn-mediumslateblue:focus, .btn-mediumslateblue.focus {   box-shadow: 0 0 0 0.2rem rgba(123, 104, 238, 0.5); }
.btn-mediumslateblue.disabled, .btn-mediumslateblue:disabled {   background-color: #7b68ee;   border-color: #7b68ee; }
.btn-mediumslateblue:not([disabled]):not(.disabled):active, .btn-mediumslateblue:not([disabled]):not(.disabled).active, .show > .btn-mediumslateblue.dropdown-toggle {   color: #fff;   background-color: #533ae9;   border-color: #492fe8;   box-shadow: 0 0 0 0.2rem rgba(123, 104, 238, 0.5); }
.btn-outline-mediumslateblue {   color: #7b68ee;   background-color: transparent;   background-image: none;   border-color: #7b68ee; }
.btn-outline-mediumslateblue:hover {   color: #fff;   background-color: #7b68ee;   border-color: #7b68ee; }
.btn-outline-mediumslateblue:focus, .btn-outline-mediumslateblue.focus {   box-shadow: 0 0 0 0.2rem rgba(123, 104, 238, 0.5); }
.btn-outline-mediumslateblue.disabled, .btn-outline-mediumslateblue:disabled {   color: #7b68ee;   background-color: transparent; }
.btn-outline-mediumslateblue:not([disabled]):not(.disabled):active, .btn-outline-mediumslateblue:not([disabled]):not(.disabled).active, .show > .btn-outline-mediumslateblue.dropdown-toggle {   color: #fff;   background-color: #7b68ee;   border-color: #7b68ee;   box-shadow: 0 0 0 0.2rem rgba(123, 104, 238, 0.5); }
.badge-mediumslateblue {   color: #fff;   background-color: #7b68ee; }
.badge-mediumslateblue[href]:focus, .badge-mediumslateblue[href]:hover {   color: #fff;   text-decoration: none;   background-color: #533ae9; }
.alert-mediumslateblue {   color: #40367c;   background-color: #e5e1fc;   border-color: #dad5fa; }
.alert-mediumslateblue hr {   border-top-color: #c6bef7; }
.alert-mediumslateblue .alert-link {   color: #2e2758; }
.list-group-item-mediumslateblue {   color: #40367c;   background-color: #dad5fa; }
a.list-group-item-mediumslateblue, button.list-group-item-mediumslateblue {   color: #40367c; }
a.list-group-item-mediumslateblue:focus, a.list-group-item-mediumslateblue:hover, button.list-group-item-mediumslateblue:focus, button.list-group-item-mediumslateblue:hover {   color: #40367c;   background-color: #c6bef7; }
a.list-group-item-mediumslateblue.active, button.list-group-item-mediumslateblue.active {   color: #fff;   background-color: #40367c;   border-color: #40367c; }
.bg-mediumslateblue {   background-color: #7b68ee !important; }
a.bg-mediumslateblue:focus, a.bg-mediumslateblue:hover {   background-color: #533ae9 !important; }
.border-mediumslateblue {   border-color: #7b68ee !important; }
.text-mediumslateblue {   color: #7b68ee !important; }
a.text-mediumslateblue:focus, a.text-mediumslateblue:hover {   color: #533ae9 !important; }
