.table-mediumblue, .table-mediumblue > th, .table-mediumblue > td {   background-color: #b8b8f1; }
.table-hover .table-mediumblue:hover {   background-color: #a3a3ed; }
.table-hover .table-mediumblue:hover > td, .table-hover .table-mediumblue:hover > th {   background-color: #a3a3ed; }
.btn-mediumblue {   color: #fff;   background-color: #0000cd;   border-color: #0000cd; }
.btn-mediumblue:hover {   color: #fff;   background-color: #0000a7;   border-color: #00009a; }
.btn-mediumblue:focus, .btn-mediumblue.focus {   box-shadow: 0 0 0 3px rgba(0, 0, 205, 0.5); }
.btn-mediumblue.disabled, .btn-mediumblue:disabled {   background-color: #0000cd;   border-color: #0000cd; }
.btn-mediumblue:active, .btn-mediumblue.active, .show > .btn-mediumblue.dropdown-toggle {   background-color: #0000a7;   background-image: none;   border-color: #00009a; }
.btn-outline-mediumblue {   color: #0000cd;   background-color: transparent;   background-image: none;   border-color: #0000cd; }
.btn-outline-mediumblue:hover {   color: #fff;   background-color: #0000cd;   border-color: #0000cd; }
.btn-outline-mediumblue:focus, .btn-outline-mediumblue.focus {   box-shadow: 0 0 0 3px rgba(0, 0, 205, 0.5); }
.btn-outline-mediumblue.disabled, .btn-outline-mediumblue:disabled {   color: #0000cd;   background-color: transparent; }
.btn-outline-mediumblue:active, .btn-outline-mediumblue.active, .show > .btn-outline-mediumblue.dropdown-toggle {   color: #fff;   background-color: #0000cd;   border-color: #0000cd; }
.badge-mediumblue {   color: #fff;   background-color: #0000cd; }
.badge-mediumblue[href]:focus, .badge-mediumblue[href]:hover {   color: #fff;   text-decoration: none;   background-color: #00009a; }
.alert-mediumblue {   color: #00006b;   background-color: #ccccf5;   border-color: #b8b8f1; }
.alert-mediumblue hr {   border-top-color: #a3a3ed; }
.alert-mediumblue .alert-link {   color: #000038; }
.list-group-item-mediumblue {   color: #00006b;   background-color: #b8b8f1; }
a.list-group-item-mediumblue, button.list-group-item-mediumblue {   color: #00006b; }
a.list-group-item-mediumblue:focus, a.list-group-item-mediumblue:hover, button.list-group-item-mediumblue:focus, button.list-group-item-mediumblue:hover {   color: #00006b;   background-color: #a3a3ed; }
a.list-group-item-mediumblue.active, button.list-group-item-mediumblue.active {   color: #fff;   background-color: #00006b;   border-color: #00006b; }
.bg-mediumblue {   background-color: #0000cd !important; }
a.bg-mediumblue:focus, a.bg-mediumblue:hover {   background-color: #00009a !important; }
.border-mediumblue {   border-color: #0000cd !important; }
.text-mediumblue {   color: #0000cd !important; }
a.text-mediumblue:focus, a.text-mediumblue:hover {   color: #00009a !important; }
