.table-olivedrab, .table-olivedrab > th, .table-olivedrab > td {   background-color: #d6dfc1; }
.table-hover .table-olivedrab:hover {   background-color: #cbd6b0; }
.table-hover .table-olivedrab:hover > td, .table-hover .table-olivedrab:hover > th {   background-color: #cbd6b0; }
.btn-olivedrab {   color: #fff;   background-color: #6b8e23;   border-color: #6b8e23; }
.btn-olivedrab:hover {   color: #fff;   background-color: #546f1b;   border-color: #4c6519; }
.btn-olivedrab:focus, .btn-olivedrab.focus {   box-shadow: 0 0 0 3px rgba(107, 142, 35, 0.5); }
.btn-olivedrab.disabled, .btn-olivedrab:disabled {   background-color: #6b8e23;   border-color: #6b8e23; }
.btn-olivedrab:active, .btn-olivedrab.active, .show > .btn-olivedrab.dropdown-toggle {   background-color: #546f1b;   background-image: none;   border-color: #4c6519; }
.btn-outline-olivedrab {   color: #6b8e23;   background-color: transparent;   background-image: none;   border-color: #6b8e23; }
.btn-outline-olivedrab:hover {   color: #fff;   background-color: #6b8e23;   border-color: #6b8e23; }
.btn-outline-olivedrab:focus, .btn-outline-olivedrab.focus {   box-shadow: 0 0 0 3px rgba(107, 142, 35, 0.5); }
.btn-outline-olivedrab.disabled, .btn-outline-olivedrab:disabled {   color: #6b8e23;   background-color: transparent; }
.btn-outline-olivedrab:active, .btn-outline-olivedrab.active, .show > .btn-outline-olivedrab.dropdown-toggle {   color: #fff;   background-color: #6b8e23;   border-color: #6b8e23; }
.badge-olivedrab {   color: #fff;   background-color: #6b8e23; }
.badge-olivedrab[href]:focus, .badge-olivedrab[href]:hover {   color: #fff;   text-decoration: none;   background-color: #4c6519; }
.alert-olivedrab {   color: #384a12;   background-color: #e1e8d3;   border-color: #d6dfc1; }
.alert-olivedrab hr {   border-top-color: #cbd6b0; }
.alert-olivedrab .alert-link {   color: #192108; }
.list-group-item-olivedrab {   color: #384a12;   background-color: #d6dfc1; }
a.list-group-item-olivedrab, button.list-group-item-olivedrab {   color: #384a12; }
a.list-group-item-olivedrab:focus, a.list-group-item-olivedrab:hover, button.list-group-item-olivedrab:focus, button.list-group-item-olivedrab:hover {   color: #384a12;   background-color: #cbd6b0; }
a.list-group-item-olivedrab.active, button.list-group-item-olivedrab.active {   color: #fff;   background-color: #384a12;   border-color: #384a12; }
.bg-olivedrab {   background-color: #6b8e23 !important; }
a.bg-olivedrab:focus, a.bg-olivedrab:hover {   background-color: #4c6519 !important; }
.border-olivedrab {   border-color: #6b8e23 !important; }
.text-olivedrab {   color: #6b8e23 !important; }
a.text-olivedrab:focus, a.text-olivedrab:hover {   color: #4c6519 !important; }
