.table-palegreen, .table-palegreen > th, .table-palegreen > td {   background-color: #e2fee2; }
.table-hover .table-palegreen:hover {   background-color: #c9fdc9; }
.table-hover .table-palegreen:hover > td, .table-hover .table-palegreen:hover > th {   background-color: #c9fdc9; }
.btn-palegreen {   color: #111;   background-color: #98fb98;   border-color: #98fb98; }
.btn-palegreen:hover {   color: #111;   background-color: #73fa73;   border-color: #67f967; }
.btn-palegreen:focus, .btn-palegreen.focus {   box-shadow: 0 0 0 3px rgba(152, 251, 152, 0.5); }
.btn-palegreen.disabled, .btn-palegreen:disabled {   background-color: #98fb98;   border-color: #98fb98; }
.btn-palegreen:active, .btn-palegreen.active, .show > .btn-palegreen.dropdown-toggle {   background-color: #73fa73;   background-image: none;   border-color: #67f967; }
.btn-outline-palegreen {   color: #98fb98;   background-color: transparent;   background-image: none;   border-color: #98fb98; }
.btn-outline-palegreen:hover {   color: #fff;   background-color: #98fb98;   border-color: #98fb98; }
.btn-outline-palegreen:focus, .btn-outline-palegreen.focus {   box-shadow: 0 0 0 3px rgba(152, 251, 152, 0.5); }
.btn-outline-palegreen.disabled, .btn-outline-palegreen:disabled {   color: #98fb98;   background-color: transparent; }
.btn-outline-palegreen:active, .btn-outline-palegreen.active, .show > .btn-outline-palegreen.dropdown-toggle {   color: #fff;   background-color: #98fb98;   border-color: #98fb98; }
.badge-palegreen {   color: #111;   background-color: #98fb98; }
.badge-palegreen[href]:focus, .badge-palegreen[href]:hover {   color: #111;   text-decoration: none;   background-color: #67f967; }
.alert-palegreen {   color: #4f834f;   background-color: #eafeea;   border-color: #e2fee2; }
.alert-palegreen hr {   border-top-color: #c9fdc9; }
.alert-palegreen .alert-link {   color: #3c633c; }
.list-group-item-palegreen {   color: #4f834f;   background-color: #e2fee2; }
a.list-group-item-palegreen, button.list-group-item-palegreen {   color: #4f834f; }
a.list-group-item-palegreen:focus, a.list-group-item-palegreen:hover, button.list-group-item-palegreen:focus, button.list-group-item-palegreen:hover {   color: #4f834f;   background-color: #c9fdc9; }
a.list-group-item-palegreen.active, button.list-group-item-palegreen.active {   color: #fff;   background-color: #4f834f;   border-color: #4f834f; }
.bg-palegreen {   background-color: #98fb98 !important; }
a.bg-palegreen:focus, a.bg-palegreen:hover {   background-color: #67f967 !important; }
.border-palegreen {   border-color: #98fb98 !important; }
.text-palegreen {   color: #98fb98 !important; }
a.text-palegreen:focus, a.text-palegreen:hover {   color: #67f967 !important; }
