.table-peru, .table-peru > th, .table-peru > td {   background-color: #f1ddc9; }
.table-hover .table-peru:hover {   background-color: #ecd0b5; }
.table-hover .table-peru:hover > td, .table-hover .table-peru:hover > th {   background-color: #ecd0b5; }
.btn-peru {   color: #fff;   background-color: #cd853f;   border-color: #cd853f; }
.btn-peru:hover {   color: #fff;   background-color: #b6722f;   border-color: #ac6c2d; }
.btn-peru:focus, .btn-peru.focus {   box-shadow: 0 0 0 3px rgba(205, 133, 63, 0.5); }
.btn-peru.disabled, .btn-peru:disabled {   background-color: #cd853f;   border-color: #cd853f; }
.btn-peru:active, .btn-peru.active, .show > .btn-peru.dropdown-toggle {   background-color: #b6722f;   background-image: none;   border-color: #ac6c2d; }
.btn-outline-peru {   color: #cd853f;   background-color: transparent;   background-image: none;   border-color: #cd853f; }
.btn-outline-peru:hover {   color: #fff;   background-color: #cd853f;   border-color: #cd853f; }
.btn-outline-peru:focus, .btn-outline-peru.focus {   box-shadow: 0 0 0 3px rgba(205, 133, 63, 0.5); }
.btn-outline-peru.disabled, .btn-outline-peru:disabled {   color: #cd853f;   background-color: transparent; }
.btn-outline-peru:active, .btn-outline-peru.active, .show > .btn-outline-peru.dropdown-toggle {   color: #fff;   background-color: #cd853f;   border-color: #cd853f; }
.badge-peru {   color: #fff;   background-color: #cd853f; }
.badge-peru[href]:focus, .badge-peru[href]:hover {   color: #fff;   text-decoration: none;   background-color: #ac6c2d; }
.alert-peru {   color: #6b4521;   background-color: #f5e7d9;   border-color: #f1ddc9; }
.alert-peru hr {   border-top-color: #ecd0b5; }
.alert-peru .alert-link {   color: #442c15; }
.list-group-item-peru {   color: #6b4521;   background-color: #f1ddc9; }
a.list-group-item-peru, button.list-group-item-peru {   color: #6b4521; }
a.list-group-item-peru:focus, a.list-group-item-peru:hover, button.list-group-item-peru:focus, button.list-group-item-peru:hover {   color: #6b4521;   background-color: #ecd0b5; }
a.list-group-item-peru.active, button.list-group-item-peru.active {   color: #fff;   background-color: #6b4521;   border-color: #6b4521; }
.bg-peru {   background-color: #cd853f !important; }
a.bg-peru:focus, a.bg-peru:hover {   background-color: #ac6c2d !important; }
.border-peru {   border-color: #cd853f !important; }
.text-peru {   color: #cd853f !important; }
a.text-peru:focus, a.text-peru:hover {   color: #ac6c2d !important; }
