.table-purple, .table-purple > th, .table-purple > td {   background-color: #dbb8db; }
.table-hover .table-purple:hover {   background-color: #d2a7d2; }
.table-hover .table-purple:hover > td, .table-hover .table-purple:hover > th {   background-color: #d2a7d2; }
.btn-purple {   color: #fff;   background-color: #800080;   border-color: #800080; }
.btn-purple:hover {   color: #fff;   background-color: #5a005a;   border-color: #4d004d; }
.btn-purple:focus, .btn-purple.focus {   box-shadow: 0 0 0 3px rgba(128, 0, 128, 0.5); }
.btn-purple.disabled, .btn-purple:disabled {   background-color: #800080;   border-color: #800080; }
.btn-purple:active, .btn-purple.active, .show > .btn-purple.dropdown-toggle {   background-color: #5a005a;   background-image: none;   border-color: #4d004d; }
.btn-outline-purple {   color: #800080;   background-color: transparent;   background-image: none;   border-color: #800080; }
.btn-outline-purple:hover {   color: #fff;   background-color: #800080;   border-color: #800080; }
.btn-outline-purple:focus, .btn-outline-purple.focus {   box-shadow: 0 0 0 3px rgba(128, 0, 128, 0.5); }
.btn-outline-purple.disabled, .btn-outline-purple:disabled {   color: #800080;   background-color: transparent; }
.btn-outline-purple:active, .btn-outline-purple.active, .show > .btn-outline-purple.dropdown-toggle {   color: #fff;   background-color: #800080;   border-color: #800080; }
.badge-purple {   color: #fff;   background-color: #800080; }
.badge-purple[href]:focus, .badge-purple[href]:hover {   color: #fff;   text-decoration: none;   background-color: #4d004d; }
.alert-purple {   color: #430043;   background-color: #e6cce6;   border-color: #dbb8db; }
.alert-purple hr {   border-top-color: #d2a7d2; }
.alert-purple .alert-link {   color: #100010; }
.list-group-item-purple {   color: #430043;   background-color: #dbb8db; }
a.list-group-item-purple, button.list-group-item-purple {   color: #430043; }
a.list-group-item-purple:focus, a.list-group-item-purple:hover, button.list-group-item-purple:focus, button.list-group-item-purple:hover {   color: #430043;   background-color: #d2a7d2; }
a.list-group-item-purple.active, button.list-group-item-purple.active {   color: #fff;   background-color: #430043;   border-color: #430043; }
.bg-purple {   background-color: #800080 !important; }
a.bg-purple:focus, a.bg-purple:hover {   background-color: #4d004d !important; }
.border-purple {   border-color: #800080 !important; }
.text-purple {   color: #800080 !important; }
a.text-purple:focus, a.text-purple:hover {   color: #4d004d !important; }
