.table-salmon, .table-salmon > th, .table-salmon > td {   background-color: #fedbd8; }
.table-hover .table-salmon:hover {   background-color: #fdc4bf; }
.table-hover .table-salmon:hover > td, .table-hover .table-salmon:hover > th {   background-color: #fdc4bf; }
.btn-salmon {   color: #111;   background-color: #fa8072;   border-color: #fa8072; }
.btn-salmon:hover {   color: #111;   background-color: #f95f4d;   border-color: #f85441; }
.btn-salmon:focus, .btn-salmon.focus {   box-shadow: 0 0 0 3px rgba(250, 128, 114, 0.5); }
.btn-salmon.disabled, .btn-salmon:disabled {   background-color: #fa8072;   border-color: #fa8072; }
.btn-salmon:active, .btn-salmon.active, .show > .btn-salmon.dropdown-toggle {   background-color: #f95f4d;   background-image: none;   border-color: #f85441; }
.btn-outline-salmon {   color: #fa8072;   background-color: transparent;   background-image: none;   border-color: #fa8072; }
.btn-outline-salmon:hover {   color: #fff;   background-color: #fa8072;   border-color: #fa8072; }
.btn-outline-salmon:focus, .btn-outline-salmon.focus {   box-shadow: 0 0 0 3px rgba(250, 128, 114, 0.5); }
.btn-outline-salmon.disabled, .btn-outline-salmon:disabled {   color: #fa8072;   background-color: transparent; }
.btn-outline-salmon:active, .btn-outline-salmon.active, .show > .btn-outline-salmon.dropdown-toggle {   color: #fff;   background-color: #fa8072;   border-color: #fa8072; }
.badge-salmon {   color: #111;   background-color: #fa8072; }
.badge-salmon[href]:focus, .badge-salmon[href]:hover {   color: #111;   text-decoration: none;   background-color: #f85441; }
.alert-salmon {   color: #82433b;   background-color: #fee6e3;   border-color: #fedbd8; }
.alert-salmon hr {   border-top-color: #fdc4bf; }
.alert-salmon .alert-link {   color: #5f312b; }
.list-group-item-salmon {   color: #82433b;   background-color: #fedbd8; }
a.list-group-item-salmon, button.list-group-item-salmon {   color: #82433b; }
a.list-group-item-salmon:focus, a.list-group-item-salmon:hover, button.list-group-item-salmon:focus, button.list-group-item-salmon:hover {   color: #82433b;   background-color: #fdc4bf; }
a.list-group-item-salmon.active, button.list-group-item-salmon.active {   color: #fff;   background-color: #82433b;   border-color: #82433b; }
.bg-salmon {   background-color: #fa8072 !important; }
a.bg-salmon:focus, a.bg-salmon:hover {   background-color: #f85441 !important; }
.border-salmon {   border-color: #fa8072 !important; }
.text-salmon {   color: #fa8072 !important; }
a.text-salmon:focus, a.text-salmon:hover {   color: #f85441 !important; }
