.table-snow, .table-snow > th, .table-snow > td {   background-color: #fffefe; }
.table-hover .table-snow:hover {   background-color: #ffe5e5; }
.table-hover .table-snow:hover > td, .table-hover .table-snow:hover > th {   background-color: #ffe5e5; }
.btn-snow {   color: #111;   background-color: #fffafa;   border-color: #fffafa; }
.btn-snow:hover {   color: #111;   background-color: #ffd4d4;   border-color: #ffc7c7; }
.btn-snow:focus, .btn-snow.focus {   box-shadow: 0 0 0 3px rgba(255, 250, 250, 0.5); }
.btn-snow.disabled, .btn-snow:disabled {   background-color: #fffafa;   border-color: #fffafa; }
.btn-snow:active, .btn-snow.active, .show > .btn-snow.dropdown-toggle {   background-color: #ffd4d4;   background-image: none;   border-color: #ffc7c7; }
.btn-outline-snow {   color: #fffafa;   background-color: transparent;   background-image: none;   border-color: #fffafa; }
.btn-outline-snow:hover {   color: #fff;   background-color: #fffafa;   border-color: #fffafa; }
.btn-outline-snow:focus, .btn-outline-snow.focus {   box-shadow: 0 0 0 3px rgba(255, 250, 250, 0.5); }
.btn-outline-snow.disabled, .btn-outline-snow:disabled {   color: #fffafa;   background-color: transparent; }
.btn-outline-snow:active, .btn-outline-snow.active, .show > .btn-outline-snow.dropdown-toggle {   color: #fff;   background-color: #fffafa;   border-color: #fffafa; }
.badge-snow {   color: #111;   background-color: #fffafa; }
.badge-snow[href]:focus, .badge-snow[href]:hover {   color: #111;   text-decoration: none;   background-color: #ffc7c7; }
.alert-snow {   color: #858282;   background-color: #fffefe;   border-color: #fffefe; }
.alert-snow hr {   border-top-color: #ffe5e5; }
.alert-snow .alert-link {   color: #6b6969; }
.list-group-item-snow {   color: #858282;   background-color: #fffefe; }
a.list-group-item-snow, button.list-group-item-snow {   color: #858282; }
a.list-group-item-snow:focus, a.list-group-item-snow:hover, button.list-group-item-snow:focus, button.list-group-item-snow:hover {   color: #858282;   background-color: #ffe5e5; }
a.list-group-item-snow.active, button.list-group-item-snow.active {   color: #fff;   background-color: #858282;   border-color: #858282; }
.bg-snow {   background-color: #fffafa !important; }
a.bg-snow:focus, a.bg-snow:hover {   background-color: #ffc7c7 !important; }
.border-snow {   border-color: #fffafa !important; }
.text-snow {   color: #fffafa !important; }
a.text-snow:focus, a.text-snow:hover {   color: #ffc7c7 !important; }
