.table-springgreen, .table-springgreen > th, .table-springgreen > td {   background-color: #b8ffdb; }
.table-hover .table-springgreen:hover {   background-color: #9fffce; }
.table-hover .table-springgreen:hover > td, .table-hover .table-springgreen:hover > th {   background-color: #9fffce; }
.btn-springgreen {   color: #111;   background-color: #00ff7f;   border-color: #00ff7f; }
.btn-springgreen:hover {   color: #111;   background-color: #00d96c;   border-color: #00cc66; }
.btn-springgreen:focus, .btn-springgreen.focus {   box-shadow: 0 0 0 3px rgba(0, 255, 127, 0.5); }
.btn-springgreen.disabled, .btn-springgreen:disabled {   background-color: #00ff7f;   border-color: #00ff7f; }
.btn-springgreen:active, .btn-springgreen.active, .show > .btn-springgreen.dropdown-toggle {   background-color: #00d96c;   background-image: none;   border-color: #00cc66; }
.btn-outline-springgreen {   color: #00ff7f;   background-color: transparent;   background-image: none;   border-color: #00ff7f; }
.btn-outline-springgreen:hover {   color: #fff;   background-color: #00ff7f;   border-color: #00ff7f; }
.btn-outline-springgreen:focus, .btn-outline-springgreen.focus {   box-shadow: 0 0 0 3px rgba(0, 255, 127, 0.5); }
.btn-outline-springgreen.disabled, .btn-outline-springgreen:disabled {   color: #00ff7f;   background-color: transparent; }
.btn-outline-springgreen:active, .btn-outline-springgreen.active, .show > .btn-outline-springgreen.dropdown-toggle {   color: #fff;   background-color: #00ff7f;   border-color: #00ff7f; }
.badge-springgreen {   color: #111;   background-color: #00ff7f; }
.badge-springgreen[href]:focus, .badge-springgreen[href]:hover {   color: #111;   text-decoration: none;   background-color: #00cc66; }
.alert-springgreen {   color: #008542;   background-color: #ccffe5;   border-color: #b8ffdb; }
.alert-springgreen hr {   border-top-color: #9fffce; }
.alert-springgreen .alert-link {   color: #005229; }
.list-group-item-springgreen {   color: #008542;   background-color: #b8ffdb; }
a.list-group-item-springgreen, button.list-group-item-springgreen {   color: #008542; }
a.list-group-item-springgreen:focus, a.list-group-item-springgreen:hover, button.list-group-item-springgreen:focus, button.list-group-item-springgreen:hover {   color: #008542;   background-color: #9fffce; }
a.list-group-item-springgreen.active, button.list-group-item-springgreen.active {   color: #fff;   background-color: #008542;   border-color: #008542; }
.bg-springgreen {   background-color: #00ff7f !important; }
a.bg-springgreen:focus, a.bg-springgreen:hover {   background-color: #00cc66 !important; }
.border-springgreen {   border-color: #00ff7f !important; }
.text-springgreen {   color: #00ff7f !important; }
a.text-springgreen:focus, a.text-springgreen:hover {   color: #00cc66 !important; }
