.table-steelblue, .table-steelblue > th, .table-steelblue > td {   background-color: #cbdcea; }
.table-hover .table-steelblue:hover {   background-color: #b9d0e3; }
.table-hover .table-steelblue:hover > td, .table-hover .table-steelblue:hover > th {   background-color: #b9d0e3; }
.btn-steelblue {   color: #fff;   background-color: #4682b4;   border-color: #4682b4; }
.btn-steelblue:hover {   color: #fff;   background-color: #3b6e98;   border-color: #38678f; }
.btn-steelblue:focus, .btn-steelblue.focus {   box-shadow: 0 0 0 3px rgba(70, 130, 180, 0.5); }
.btn-steelblue.disabled, .btn-steelblue:disabled {   background-color: #4682b4;   border-color: #4682b4; }
.btn-steelblue:active, .btn-steelblue.active, .show > .btn-steelblue.dropdown-toggle {   background-color: #3b6e98;   background-image: none;   border-color: #38678f; }
.btn-outline-steelblue {   color: #4682b4;   background-color: transparent;   background-image: none;   border-color: #4682b4; }
.btn-outline-steelblue:hover {   color: #fff;   background-color: #4682b4;   border-color: #4682b4; }
.btn-outline-steelblue:focus, .btn-outline-steelblue.focus {   box-shadow: 0 0 0 3px rgba(70, 130, 180, 0.5); }
.btn-outline-steelblue.disabled, .btn-outline-steelblue:disabled {   color: #4682b4;   background-color: transparent; }
.btn-outline-steelblue:active, .btn-outline-steelblue.active, .show > .btn-outline-steelblue.dropdown-toggle {   color: #fff;   background-color: #4682b4;   border-color: #4682b4; }
.badge-steelblue {   color: #fff;   background-color: #4682b4; }
.badge-steelblue[href]:focus, .badge-steelblue[href]:hover {   color: #fff;   text-decoration: none;   background-color: #38678f; }
.alert-steelblue {   color: #24445e;   background-color: #dae6f0;   border-color: #cbdcea; }
.alert-steelblue hr {   border-top-color: #b9d0e3; }
.alert-steelblue .alert-link {   color: #162939; }
.list-group-item-steelblue {   color: #24445e;   background-color: #cbdcea; }
a.list-group-item-steelblue, button.list-group-item-steelblue {   color: #24445e; }
a.list-group-item-steelblue:focus, a.list-group-item-steelblue:hover, button.list-group-item-steelblue:focus, button.list-group-item-steelblue:hover {   color: #24445e;   background-color: #b9d0e3; }
a.list-group-item-steelblue.active, button.list-group-item-steelblue.active {   color: #fff;   background-color: #24445e;   border-color: #24445e; }
.bg-steelblue {   background-color: #4682b4 !important; }
a.bg-steelblue:focus, a.bg-steelblue:hover {   background-color: #38678f !important; }
.border-steelblue {   border-color: #4682b4 !important; }
.text-steelblue {   color: #4682b4 !important; }
a.text-steelblue:focus, a.text-steelblue:hover {   color: #38678f !important; }
