.table-teal, .table-teal > th, .table-teal > td {   background-color: #b8dbdb; }
.table-hover .table-teal:hover {   background-color: #a7d2d2; }
.table-hover .table-teal:hover > td, .table-hover .table-teal:hover > th {   background-color: #a7d2d2; }
.btn-teal {   color: #fff;   background-color: #008080;   border-color: #008080; }
.btn-teal:hover {   color: #fff;   background-color: #005a5a;   border-color: #004d4d; }
.btn-teal:focus, .btn-teal.focus {   box-shadow: 0 0 0 3px rgba(0, 128, 128, 0.5); }
.btn-teal.disabled, .btn-teal:disabled {   background-color: #008080;   border-color: #008080; }
.btn-teal:active, .btn-teal.active, .show > .btn-teal.dropdown-toggle {   background-color: #005a5a;   background-image: none;   border-color: #004d4d; }
.btn-outline-teal {   color: #008080;   background-color: transparent;   background-image: none;   border-color: #008080; }
.btn-outline-teal:hover {   color: #fff;   background-color: #008080;   border-color: #008080; }
.btn-outline-teal:focus, .btn-outline-teal.focus {   box-shadow: 0 0 0 3px rgba(0, 128, 128, 0.5); }
.btn-outline-teal.disabled, .btn-outline-teal:disabled {   color: #008080;   background-color: transparent; }
.btn-outline-teal:active, .btn-outline-teal.active, .show > .btn-outline-teal.dropdown-toggle {   color: #fff;   background-color: #008080;   border-color: #008080; }
.badge-teal {   color: #fff;   background-color: #008080; }
.badge-teal[href]:focus, .badge-teal[href]:hover {   color: #fff;   text-decoration: none;   background-color: #004d4d; }
.alert-teal {   color: #004343;   background-color: #cce6e6;   border-color: #b8dbdb; }
.alert-teal hr {   border-top-color: #a7d2d2; }
.alert-teal .alert-link {   color: #001010; }
.list-group-item-teal {   color: #004343;   background-color: #b8dbdb; }
a.list-group-item-teal, button.list-group-item-teal {   color: #004343; }
a.list-group-item-teal:focus, a.list-group-item-teal:hover, button.list-group-item-teal:focus, button.list-group-item-teal:hover {   color: #004343;   background-color: #a7d2d2; }
a.list-group-item-teal.active, button.list-group-item-teal.active {   color: #fff;   background-color: #004343;   border-color: #004343; }
.bg-teal {   background-color: #008080 !important; }
a.bg-teal:focus, a.bg-teal:hover {   background-color: #004d4d !important; }
.border-teal {   border-color: #008080 !important; }
.text-teal {   color: #008080 !important; }
a.text-teal:focus, a.text-teal:hover {   color: #004d4d !important; }
