.table-white, .table-white > th, .table-white > td {   background-color: white; }
.table-hover .table-white:hover {   background-color: #f2f2f2; }
.table-hover .table-white:hover > td, .table-hover .table-white:hover > th {   background-color: #f2f2f2; }
.btn-white {   color: #111;   background-color: #ffffff;   border-color: #ffffff; }
.btn-white:hover {   color: #111;   background-color: #ececec;   border-color: #e6e6e6; }
.btn-white:focus, .btn-white.focus {   box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5); }
.btn-white.disabled, .btn-white:disabled {   background-color: #ffffff;   border-color: #ffffff; }
.btn-white:active, .btn-white.active, .show > .btn-white.dropdown-toggle {   background-color: #ececec;   background-image: none;   border-color: #e6e6e6; }
.btn-outline-white {   color: #ffffff;   background-color: transparent;   background-image: none;   border-color: #ffffff; }
.btn-outline-white:hover {   color: #fff;   background-color: #ffffff;   border-color: #ffffff; }
.btn-outline-white:focus, .btn-outline-white.focus {   box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5); }
.btn-outline-white.disabled, .btn-outline-white:disabled {   color: #ffffff;   background-color: transparent; }
.btn-outline-white:active, .btn-outline-white.active, .show > .btn-outline-white.dropdown-toggle {   color: #fff;   background-color: #ffffff;   border-color: #ffffff; }
.badge-white {   color: #111;   background-color: #ffffff; }
.badge-white[href]:focus, .badge-white[href]:hover {   color: #111;   text-decoration: none;   background-color: #e6e6e6; }
.alert-white {   color: #858585;   background-color: white;   border-color: white; }
.alert-white hr {   border-top-color: #f2f2f2; }
.alert-white .alert-link {   color: #6c6c6c; }
.list-group-item-white {   color: #858585;   background-color: white; }
a.list-group-item-white, button.list-group-item-white {   color: #858585; }
a.list-group-item-white:focus, a.list-group-item-white:hover, button.list-group-item-white:focus, button.list-group-item-white:hover {   color: #858585;   background-color: #f2f2f2; }
a.list-group-item-white.active, button.list-group-item-white.active {   color: #fff;   background-color: #858585;   border-color: #858585; }
.bg-white {   background-color: #ffffff !important; }
a.bg-white:focus, a.bg-white:hover {   background-color: #e6e6e6 !important; }
.border-white {   border-color: #ffffff !important; }
.text-white {   color: #ffffff !important; }
a.text-white:focus, a.text-white:hover {   color: #e6e6e6 !important; }
