.table-youtube, .table-youtube > th, .table-youtube > td {   background-color: #f1c1c0; }
.table-hover .table-youtube:hover {   background-color: #ecacab; }
.table-hover .table-youtube:hover > td, .table-hover .table-youtube:hover > th {   background-color: #ecacab; }
.btn-youtube {   color: #fff;   background-color: #cd201f;   border-color: #cd201f; }
.btn-youtube:hover {   color: #fff;   background-color: #ac1b1a;   border-color: #a11918; }
.btn-youtube:focus, .btn-youtube.focus {   box-shadow: 0 0 0 0.2rem rgba(205, 32, 31, 0.5); }
.btn-youtube.disabled, .btn-youtube:disabled {   background-color: #cd201f;   border-color: #cd201f; }
.btn-youtube:not([disabled]):not(.disabled):active, .btn-youtube:not([disabled]):not(.disabled).active, .show > .btn-youtube.dropdown-toggle {   color: #fff;   background-color: #a11918;   border-color: #961717;   box-shadow: 0 0 0 0.2rem rgba(205, 32, 31, 0.5); }
.btn-outline-youtube {   color: #cd201f;   background-color: transparent;   background-image: none;   border-color: #cd201f; }
.btn-outline-youtube:hover {   color: #fff;   background-color: #cd201f;   border-color: #cd201f; }
.btn-outline-youtube:focus, .btn-outline-youtube.focus {   box-shadow: 0 0 0 0.2rem rgba(205, 32, 31, 0.5); }
.btn-outline-youtube.disabled, .btn-outline-youtube:disabled {   color: #cd201f;   background-color: transparent; }
.btn-outline-youtube:not([disabled]):not(.disabled):active, .btn-outline-youtube:not([disabled]):not(.disabled).active, .show > .btn-outline-youtube.dropdown-toggle {   color: #fff;   background-color: #cd201f;   border-color: #cd201f;   box-shadow: 0 0 0 0.2rem rgba(205, 32, 31, 0.5); }
.badge-youtube {   color: #fff;   background-color: #cd201f; }
.badge-youtube[href]:focus, .badge-youtube[href]:hover {   color: #fff;   text-decoration: none;   background-color: #a11918; }
.alert-youtube {   color: #6b1110;   background-color: #f5d2d2;   border-color: #f1c1c0; }
.alert-youtube hr {   border-top-color: #ecacab; }
.alert-youtube .alert-link {   color: #3f0a09; }
.list-group-item-youtube {   color: #6b1110;   background-color: #f1c1c0; }
a.list-group-item-youtube, button.list-group-item-youtube {   color: #6b1110; }
a.list-group-item-youtube:focus, a.list-group-item-youtube:hover, button.list-group-item-youtube:focus, button.list-group-item-youtube:hover {   color: #6b1110;   background-color: #ecacab; }
a.list-group-item-youtube.active, button.list-group-item-youtube.active {   color: #fff;   background-color: #6b1110;   border-color: #6b1110; }
.bg-youtube {   background-color: #cd201f !important; }
a.bg-youtube:focus, a.bg-youtube:hover {   background-color: #a11918 !important; }
.border-youtube {   border-color: #cd201f !important; }
.text-youtube {   color: #cd201f !important; }
a.text-youtube:focus, a.text-youtube:hover {   color: #a11918 !important; }
